{% extends "homebase.html" %}
{% block content %}
  <div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/yenistok/">Yeni Stok Kartı </a>
    <a href="">Kart İncele-Düzelt</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Kart Sil</a>
    <a href="">İthalat/ihracat Dosyaları</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

  </div>
  <div class="d-menu">
    <ul>
      <li>
        <ul>
          <li><a href="tahsilatfisi.html" title="">Tahsilat Fişi</a></li>
          <li><a href="odemefisi.html" title="">Ödeme Fişi</a></li>
          <li><a href="virman.html" title="">Virman Fişi</a></li>
          <li><a href="dovizfisi.html" title="">Döviz Fişi</a></li>
          <li><a href="kasaacilis.html" title="">Açılış Fişi</a></li>
          <li><a href="kasacaritahsilat.html" title="">Kasa Tahsilat Makbuzu</a></li>
          <li><a href="kasacariodeme.html" title="">Kasa Ödeme Makbuzu</a></li>
          <li><a href="kasamaasodemesi.html" title="">Maaş Ödeme (Kasa)</a></li>
        </ul><a href="" title="">Depolar</a>
      </li>
      <li>
        <ul>
          <li><a href="kasacariodeme.html" title="">Ödeme Fişi</a></li>
          <li><a href="kasacaritahsilat.html" title="">Tahsilat Fişi</a></li>
          <li><a href="" title="">Maaş Ödemesi (Kasa)</a></li>
        </ul><a href="" title="">Barkod İşlemleri</a>

      </li>
      <li>
        <ul>
          <li><a href="bankayayatirilan.html" title="">Bankaya Yatırılan</a></li>
          <li><a href="bankadancekilen.html" title="">Bankadan Çekilen</a></li>
        </ul><a href="" title="">Seri No - Lot Detay Takip</a>
      </li>
      <li>
        <ul>
          <li><a href="" title="">Çek/Senet Tahsili</a></li>
          <li><a href="" title="">Senet Ödemesi</a></li>
        </ul><a href="" title="">Fiyat/KDV Değiştir</a>
      </li>
      <li>
        <a href="" title="">Evrak Bul</a>
      </li>

    </ul>
  </div>

  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
  height: 300px;
  overflow: auto;">
      <table class="table table-bordered ">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center" style="min-width: 100px ;">Stok Kodu</th>
            <th class="text-center" style="min-width: 50px ;">Stok Adı</th>
            <th class="text-center" style="min-width: 150px ;">Birim</th>
            <th class="text-center" style="min-width: 100px ;">Tür</th>
            <th class="text-center">D?</th>
            <th class="text-center" style="min-width: 150px ;">Giriş Miktarı</th>
            <th class="text-center" style="min-width: 150px ;">Giriş Tutarı</th>
            <th class="text-center">Çıkış Miktarı</th>
            <th class="text-center" style="min-width: 100px ;">Çıkış Tutarı</th>
            <th class="text-center" style="min-width: 150px ;">Bak.Miktarı</th>
            <th class="text-center">Birim(2)</th>
            <th class="text-center" style="min-width: 100px ;">2. Birime Göre Miktar</th>
            <th class="text-center">Birim(3)</th>
            <th class="text-center" style="min-width: 100px ;">3. Birime Göre Miktar</th>
            <th class="text-center" style="min-width: 150px ;">Özel Kod 1</th>
            <th class="text-center" style="min-width: 150px ;">Özel Kod 2</th>
            <th class="text-center" style="min-width: 150px ;">Kayıt Tarihi</th>
          </tr>
        </thead>
        <tbody>
        {% for i in stokkartlarim %}   
          <tr>
            <td><label for="kasakartisecim{{i.id}}"><input class="kasalar" name="kasakartlari" id="kasakartisecim{{i.id}}" value="{{i.id}}/" type="radio">{{i.stok_kodu}}</label></td>
            <td>{{i.stok_adi}}</td>
            <td>{% for j in stokkartozelligi1 %}
                {% if i.id == j.stok_karti_bilgisi.id %}
                {{j.birinci_birim}}
                {% else %}
                {% endif %}
            {% endfor %}
            </td>
            <td>{{i.stok_turu}}</td>
            <td>{{i.detay}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{% for j in stokkartozelligi1 %}
                {% if i.id == j.stok_karti_bilgisi.id %}
                {{j.ikinci_birim}}
                {% else %}
                {% endif %}
            {% endfor %}</td>
            <td></td>
            <td>{% for j in stokkartozelligi1 %}
                {% if i.id == j.stok_karti_bilgisi.id %}
                {{j.ucuncu_birim}}
                {% else %}
                {% endif %}
            {% endfor %}</td>
            <td></td>
            <td></td>
            <td></td>

            <td>{{i.kayit_tarihi}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
    height: 300px;
    overflow: auto;">
      <table class="table table-bordered">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center">Tarih</th>
            <th class="text-center" style="min-width: 100px ;">İşlem Türü</th>
            <th class="text-center">Tip</th>
            <th class="text-center" style="min-width: 100px ;">Evrak No</th>
            <th class="text-center" style="min-width: 100px ;">Cari Ünvan</th>
            <th class="text-center">Gir.Mik.</th>
            <th class="text-center">Çık.Mİk.</th>
            <th class="text-center">Bak.Mik.</th>
            <th class="text-center" style="min-width: 100px ;">Satır Açıklaması</th>
            <th class="text-center" style="min-width: 100px ;">Dvz. Cinsi</th>
            <th class="text-center">Evrak Birim</th>
            <th class="text-center" style="min-width: 130px ;">Evrak Miktarı</th>
            <th class="text-center" style="min-width: 130px ;">Gr.Br.Fy. (TL)</th>
            <th class="text-center">Çr.Br.Fy. (TL)</th>
            <th class="text-center" style="min-width: 100px ;">Uyg. Kur</th>
            <th class="text-center">Depo</th>
            <th class="text-center" style="min-width: 250px ;">M.F Miktarı</th>
            <th class="text-center" style="min-width: 100px ;">Şube Kodu</th>
            <th class="text-center" style="min-width: 100px ;">Departman</th>
            <th class="text-center">Net Ağ. (KG)</th>
            <th class="text-center">Brüt Ağ. (KG)</th>
            <th class="text-center">Özel Kod (1)</th>
            <th class="text-center">Özel Kod (2)</th>
            <th class="text-center">Kullanıcı</th>
            <th class="text-center">Kalite Kodu</th>
            <th class="text-center">Stok Kodu</th>
            <th class="text-center">İş Emri No</th>
            <th class="text-center">Parti No</th>
            <th class="text-center">Son K. Tarihi</th>
            <th class="text-center">Evrak No</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<script>
    function redirectToSelectedLink() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        if (selectedLink) {
            window.location.href = "/{{firma.firma_ozel_anahtar}}/gelirduzelt/" + selectedLink;
        } else {
            alert('Lütfen bir Kasa Kartı seçin.');
        }
    }
    function showConfirmationPopup() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        // Pop-up penceresini aç
        const confirmation = confirm("Silmek İstediğinden Emin misiniz?");

        // Kullanıcının seçimine göre işlem yap
        if (confirmation) {
            // Kullanıcı "Evet" dedi, yönlendirme yap
            window.location.href = "/{{firma.firma_ozel_anahtar}}/gelirsil/" + selectedLink;
        } else {
            // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
        }
    }
</script>
<script>
    function redirectToSelectedLink() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

  if (selectedLink) {
    window.location.href = "/{{firma.firma_ozel_anahtar}}/kasakartiduzelt/"+selectedLink;
  } else {
    alert('Lütfen bir Kasa Kartı seçin.');
  }
}
function showConfirmationPopup() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

    // Pop-up penceresini aç
    const confirmation = confirm("Emin misiniz?");
    
    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
        // Kullanıcı "Evet" dedi, yönlendirme yap
        window.location.href = "/{{firma.firma_ozel_anahtar}}/stoksil/"+selectedLink;
    } else {
        // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
}
  </script>
{% endblock content %}