{% extends "homebase.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
       
        <div class="col-12" style="border: 1px solid black; padding: 20px;">
            <div class="text-center" ><h2>Demirbaş Kart Bilgileri Enfilasyon Düzeltme Bilgileri</h2>
            <hr></div>
            
            <form method="post">
                {% csrf_token %}
                <div class="row genel">
                    <div class="col-6">
                        <h5>Demirbaş Bilgileri</h5>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <label for="">Demirbaş Kodu
                                    <input type="text" name="demirbaskodu">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Açıklama
                                    <input type="text" name="aciklama">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Alış Tarihi
                                    <input type="date" required name="alistarihi">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Fatura No
                                    <input type="text" name="faturano">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Tutar
                                    <input type="number" value="0" step="0.01" name="tutar">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Demirbaş Yeni Değer
                                    <input type="number" value="0" step="0.01" name="yeni_demirbas_degeri">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Alış KDV Oranı (%)
                                    <input type="number" value="0" step="0.01" name="kdvorani">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Alış KDV Tutarı
                                    <input type="number" value="0" step="0.01" name="aliskdvtutari">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Alınan Firma <br>
                                    <select name="alinan_firma" id="">
                                        <option value="id">FirmaAdı (000000)</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Amortisman Oranı (%)
                                    <input type="number" value="0" max="100" step="0.01" name="amortisman_orani">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Faydalı Ömür
                                    <input type="number" value="0" max="100" step="0.01" name="faydaliomur">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Sabit Kıymet Kodu
                                    <input type="text" name="sabit_kiymet_kodu">
                                </label>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-3">Seç</div>
                                    <div class="col-9">
                                        <label for="">Sabit Kıymet Adı
                                        <input type="text" name="sabit_kiymet_adi">
                                    </label></div>
                                    
                                </div>
                                
                            </div>
                            <div class="col-6">
                                <label for="">Kıst Amortisman ? <br>

                                    <select name="kistamortisman" id="">
                                        <option value="Evet">Evet</option>
                                        <option value="Hayır">Hayır</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Amortisman Tipi <br>

                                    <select name="amortismantipi" id="">
                                        <option value="Normal">Normal</option>
                                        <option value="Azalan">Azalan</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Şube <br>

                                    <select name="sube" id="">
                                        <option value="id">Normal</option>
                                        <option value="Azalan">Azalan</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Masraf Merkezi
                                    <input type="text" name="masrafmerkezi">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Demirbas Özel Kodu
                                    <input type="text" name="demirbasozelkodu">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Demirbaş Hesap Kodu
                                    <input type="text" name="demirbashesapkodu">
                                    <input type="text" hidden name="demirbashesapkoduid">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Birikmiş Amortismaman Değer Artışı Hesap Kodu
                                    <input type="text" name="birikmisanmortismandeger">
                                    <input type="text" hidden name="birikmisanmortismandegerid">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Döneme Ait Amortisman Hesap Kodu
                                    <input type="text" name="donemeaitamortismanhesap">
                                    <input type="text" hidden name="donemeaitamortismanhesapid">
                                </label>
                            </div>
                            <div class="col-6">
                                
                            </div>
                            <hr>
                            <div class="col-6">
                                <label for="">Satış Tarihi
                                    <input type="date"  name="satistarihi">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Satış Fatura No
                                    <input type="text" name="satisfaturano">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Satış Tutar
                                    <input type="number" value="0" step="0.01" name="satistutar">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Satış KDV Oranı (%)
                                    <input type="number" value="0" step="0.01" name="satiskdvorani">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Satış KDV Tutarı
                                    <input type="number" value="0" step="0.01" name="satiskdvtutari">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="">Satılan Firma <br>
                                    <select name="satilan_firma" id="">
                                        <option value="id">FirmaAdı (000000)</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="border-left: 1px solid black;">
                    <h5>Enfilasyon Düzeltmasi Bilgileri</h5>
                    <hr>
                    
                    <div class="row">
                        <div class="col-6">
                            <label for="">Demirbaş Enfilasyon Düzeltmasi Kodu
                                <input type="text" name="demirbasenfilasyonduzeltmesihesapkodu">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Enfilasyon Düzeltmasi Kodu
                                <input type="text" name="enfilasyonduzeltmesihesapkodu">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Birikmiş Amortisman Enfilasyon Düzeltmasi Kodu
                                <input type="text" name="birikmisamortismanenfilasyonduzeltmesihesapkodu">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Aktif Değer Artisi  Kodu
                                <input type="text" name="aktifdegerartisikodu">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Değer Artış Fonu  Kodu
                                <input type="text" name="degerartisfonukodu">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Kredi Tutari
                                <input type="number" step="0.01" value="0" name="kreditutari">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Kredi Faiz Tutarı
                                <input type="text" name="kredifaiztutari">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Teşvik Edildimi
                                <select name="tesvikedildimi" id="">
                                    <option value="Evet">Evet</option>
                                    <option value="Hayır">Hayır</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Borcun Kullanıldığı Yıl
                                <input type="number" step="0.01" value="0" name="Borcunkullanildigiyil">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Borcun Kullanıldığı Ay
                                <input type="number" step="0.01" max="12" value="0" name="Borcunkullanildigiay">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Borcun Kapatıldığı Yıl
                                <input type="number" step="0.01" value="0" name="Borcunkapatidigiyil">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Borcun Kapatıldığı Ay
                                <input type="number" step="0.01" max="12" value="0" name="Borcunkapatildigiiay">
                            </label>
                        </div>
                        <hr>
                        <div class="col-6">
                            <label for="">Son Yeniden Değerlenmiş Değer
                                <input type="number" step="0.01"  value="0" name="sonyenidendegerlenmisdeger">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Son Birikmiş Amortisman Değer
                                <input type="number" step="0.01"  value="0" name="sonbirikmisamortismandeger">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Düzeltme Yılı
                                <input type="number" step="0.01" value="0" name="duzeltmeyili">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="">Düzeltme Ayı
                                <input type="number" step="0.01" max="12" value="0" name="duzeltmeayi">
                            </label>
                        </div>
                    </div>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Kaydet</button></div>
                    <div class="col-4"><a href="/{{firma.firma_ozel_anahtar}}/kasa/" class="btn btn-danger">İptal Et</a></div>
                </div>

            </form>
        </div>
        <div class="col-2">
            
        </div>
    </div>
</div>
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Hesap Planı Seç</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <input type="text" id="searchInput" class="form-control" placeholder="Arama...">
  
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Hesap Kodu</th>
        <th>Hesap AdI</th>
      </tr>
    </thead>
    <tbody>
    {% for i in sistemhesapplanlari %}
    <tr>
        <td>{{i.hesap_kodu}}</td>
        <td>{{i.hesap_adi}}</td>
        
      </tr>
    {% endfor %}
    {% for i in hesapplanlari %}
    <tr>
           <td>{{i.hesap_kodu}}</td>
        <td>{{i.hesap_adi}}</td>
        
      </tr>
    {% endfor %}
      
      
      <!-- Diğer satırları burada ekleyin -->
    </tbody>
  </table>
</div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
        Seçmek için listeye Tıklamanız Yeterlidir.
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
  
      </div>
    </div>

    <script>
        const searchInput = document.getElementById('searchInput');
        const table = document.querySelector('.table');
        const firmavergidairesikodu = document.getElementById('hesapplani');
        const firmavergidairesi = document.getElementById("hesapplani");
        searchInput.addEventListener('input', function () {
          const searchText = this.value.toLowerCase();
      
          for (const row of table.rows) {
            let found = false;
            for (const cell of row.cells) {
              if (cell.textContent.toLowerCase().includes(searchText)) {
                found = true;
                break;
              }
            }
            row.style.display = found ? '' : 'none';
          }
        });
      
        // Tablo satırlarına tıklama olayını ekle
        const tableRows = table.getElementsByTagName('tr');
        for (let i = 1; i < tableRows.length; i++) {
          tableRows[i].addEventListener('click', function () {
            const cells = this.cells;
            const rowData = {
              id: cells[0].textContent,
              ad: cells[1].textContent,
            };
      
            // Seçilen veriyi input'a yaz
            firmavergidairesi.value = `${rowData.id}`;
            firmavergidairesikodu.value = `${rowData.id}`;
          });
        }
      </script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap/dist/js/bootstrap.min.js"></script>  
{% endblock content %}