{% extends "homebase.html" %}
{% load custom_tags %}
{% block content %}
<style>
  #kur {
    display: none;
  }
  .yeniform {
    display: none;
  }

</style>
<div class="icon-bar">
  <form  method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Kaydet Yeni Fiş</button>
    <a href="javascript:void(0);" onclick="ekleYeniSatir()">Bir Satır Daha Ekle</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

</div>
<div class="d-menu">
  <ul>
    <li>
      <ul>
      </ul>
      <a type="button" style="color: white;" data-toggle="modal" data-target="#myModal">Yeni Stok Oluştur</a>
    </li>
    <li>
      <ul>
      </ul><a href="javascript:void(0);" onclick="showConfirmationPopup()">Stok Kartını Sil</a>
    </li>
    <li>
      <ul>
      </ul><a href="" title="">Raporla / Yazdır</a>
    </li>
  </ul>
</div>

<div class="container mt-3 tablo">
  <div class="table-responsive " style="
  height: 300px;
  overflow: auto;">
    <table class="table table-bordered ">
      <thead style="position: sticky;top: 0">
        <tr>
          <th class="text-center" style="min-width: 100px ;">Stok Kodu</th>
          <th class="text-center" style="min-width: 50px ;">Stok Adı</th>
          <th class="text-center" style="min-width: 150px ;">Brim</th>
          <th class="text-center" style="min-width: 150px ;">Ticari/Diğer</th>
          <th class="text-center" style="min-width: 100px ;">Envanter Yönetimi </th>
          <th class="text-center" style="min-width: 100px ;">Ortalama Kar</th>
          <th class="text-center" style="min-width: 100px ;">Giriş Miktarı</th>
          <th class="text-center" style="min-width: 100px ;">Giriş Tutarı </th>
          <th class="text-center" style="min-width: 100px ;">Çıkış Miktarı </th>
          <th class="text-center" style="min-width: 100px ;">Çıkış Tutarı </th>
          <th class="text-center" style="min-width: 100px ;">Bakiye </th>
        </tr>
      </thead>
      <tbody>
        {% for i in cari_bilgileri %}
        <tr>
          <td>
            <label for="kasakartisecim{{i.id}}"><input class="kasalar" name="kasakartlari" id="kasakartisecim{{i.id}}"
                value="{{i.id}}/" type="radio">{{i.stok_kodu}}</label>
                <a type="button" class="btn btn-primary" style="color: white;" data-toggle="modal" data-target="#duzelt{{i.id}}">Düzelt</a>
          </td>
          <td>{{i.stok_adi}}</td>
          <td>{{i.birim}}</td>
          <td>{{i.envanter_yonetimi}}</td>
          <td>{{i.ticari}}</td>
          <td>{{i.ort_kar}}</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="container mt-3 tablo">
  
  <div class="table-responsive " style="
    height: 300px;
    overflow: auto;">
    <table class="table table-bordered-second">
      <thead style="position: sticky;top: 0">
        <tr>
            <th class="text-center">Stok Seç</th>
        <th class="text-center">Evrak Tarihi</th>
          <th class="text-center">Dönem İçi / Başı</th>
          <th class="text-center">İade mi ?</th>
          <th class="text-center">Evrak No</th>
          <th class="text-center" style="min-width: 200px;">Evrak Açıklama</th>
          <th class="text-center">Giriş Miktarı</th>
          <th class="text-center">Giriş Birim Fiyatı</th>
          <th class="text-center">Giriş Tutarı</th>
          <th class="text-center">Çıkış Miktarı </th>
          <th class="text-center">Çıkış Birim Fiyatı </th>
          <th class="text-center">Çıkış Tutarı </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><select name="cari" id="">
            {% for i in cari_bilgileri %}
              <option value="{{i.id}}">{{i.cari_adi}}</option>
              {% endfor %}
            </select></td>
          <td><input type="date" name="tarih" id="tarih"></td>
          <td><input type="text" name="aciklama"></td>
          <td><input type="number" value="0" step="0.01" name="borc"></td>
          <td><input type="number" value="0" step="0.01" name="alacak"></td>
        </tr>
        <!--yeniform-->
         
        
      </tbody>
    </table>
  </div>
</div>

</form>
<script>

  function showConfirmationPopup() {
    const radioButtons = document.getElementsByName('kasakartlari');
    let selectedLink = null;

    for (const radioButton of radioButtons) {
      if (radioButton.checked) {
        selectedLink = radioButton.value;
        break;
      }
    }

    // Pop-up penceresini aç
    const confirmation = confirm("Silmek İstediğinizden Emin misiniz?");

    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
      // Kullanıcı "Evet" dedi, yönlendirme yap
      window.location.href = "/{{firma.firma_ozel_anahtar}}/musavirstoksil/" + selectedLink;
    } else {
      // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
  }
  function irsaliyeaktar() {
    const radioButtons = document.getElementsByName('kasakartlari');
    let selectedLink = null;

    for (const radioButton of radioButtons) {
      if (radioButton.checked) {
        selectedLink = radioButton.value;
        break;
      }
    }

    // Pop-up penceresini aç
    const confirmation = confirm("Siparişi İrsaliyeye Aktarılsın mı ?");

    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
      // Kullanıcı "Evet" dedi, yönlendirme yap
      window.location.href = "/{{firma.firma_ozel_anahtar}}/siparisaktarma/" + selectedLink;
    } else {
      // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
  }
  function siparisiaktifpasifyapma() {
    const radioButtons = document.getElementsByName('kasakartlari');
    let selectedLink = null;

    for (const radioButton of radioButtons) {
      if (radioButton.checked) {
        selectedLink = radioButton.value;
        break;
      }
    }

    // Pop-up penceresini aç
    const confirmation = confirm("Siparişi Aktiflik Pasiflik Durumunu değiştirmek istiyor musun?");

    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
      // Kullanıcı "Evet" dedi, yönlendirme yap
      window.location.href = "/{{firma.firma_ozel_anahtar}}/siparisaktifpasif/" + selectedLink;
    } else {
      // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
  }
  function siparisonaylama() {
    const radioButtons = document.getElementsByName('kasakartlari');
    let selectedLink = null;

    for (const radioButton of radioButtons) {
      if (radioButton.checked) {
        selectedLink = radioButton.value;
        break;
      }
    }

    // Pop-up penceresini aç
    const confirmation = confirm("Siparişi Onaylamak İstiyor musun?");

    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
      // Kullanıcı "Evet" dedi, yönlendirme yap
      window.location.href = "/{{firma.firma_ozel_anahtar}}/siparisonaylama/" + selectedLink;
    } else {
      // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
  }
  //
</script>
<script>
let z = 0;
  function ekleYeniSatir() {
    
    var elements = document.getElementsByClassName('yeniform');

    if (elements[z]) {
        elements[z].classList.remove('yeniform');
    } else {
        console.error("Ürün Sınırına Ulaştınız");
    }

    yeniselect();
  }
</script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Stok Kart Oluştur</h4>
        </div>
        <form action="/{{firma.firma_ozel_anahtar}}/musavirstokekle/" method="post">
            {% csrf_token %}
           <input type="text" hidden value="{{firma.firma_ozel_anahtar}}" name="slug">
        
        <div class="modal-body">
            <label for="stokkodu"> Stok Kodu <input id="stokkodu" name="stokkodu" type="text"></label>

            <label for="stokadi"> Stok Adı <input id="stokadi" name="stokadi" type="text"></label>
            <label for="birim"> Brim <input id="birim" value="Adet" name="birim" type="text"></label>
            <label for="ticari"> Ticari / Diğer 
                <select name="ticari" id="ticari">
                    <option value=""></option>
                    <option value="150">150</option>
                    <option value="151">151</option>
                    <option value="152">152</option>
                    <option value="153">153</option>

                </select>
            </label>
            <label for="envanyo"> Envanter Yönetimi
                <select name="envanyo" id="envanyo">
                    <option value=""></option>
                    <option value="FIFO">FIFO</option>
                    <option value="LIFO">LIFO</option>
                    <option value="Ağırlıklı Ortalama">Ağırlıklı Ortalama</option>
                    <option value="Ortalama Kar">Ortalama Kar Haddi</option>
                    <option value="Basit Ortalama">Basit Ortalama </option>
                    <option value="Hareketli Ortalama">Hareketli Ortalama </option>
                </select>
            </label>
            <label for="ortk"> Ortalama Kar <input id="ortk" value="0" name="ortk" step="0.01" type="number"></label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
          <button type="submit" class="btn btn-success" >Kaydet</button>
        </div>
    </form>
      </div>
  
    </div>
  </div>

  <!-- Modal -->
  {% for i in cari_bilgileri %}
<div id="duzelt{{i.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Cari Kart Oluştur</h4>
        </div>
        <form action="/{{firma.firma_ozel_anahtar}}/musavirstokduzelt/" method="post">
            {% csrf_token %}
           <input type="text" hidden value="{{i.id}}" name="slug">
        
        <div class="modal-body">
            <label for="stokkodu"> Stok Kodu <input value="{{i.stok_kodu}}" id="stokkodu" name="stokkodu" type="text"></label>

            <label for="stokadi"> Stok Adı <input value="{{i.stok_adi}}" id="stokadi" name="stokadi" type="text"></label>
            <label for="birim"> Brim <input id="birim" value="{{i.birim}}" name="birim" type="text"></label>
            <label for="ticari"> Ticari / Diğer 
                <select name="ticari" id="ticari">
                {% if i.ticari %}
                    <option value="{{i.ticari}}">{{i.ticari}}</option>
                {% endif %}
                    <option value=""></option>
                    <option value="150">150</option>
                    <option value="151">151</option>
                    <option value="152">152</option>
                    <option value="153">153</option>

                </select>
            </label>
            <label for="envanyo"> Envanter Yönetimi
                <select name="envanyo" id="envanyo">
                {% if i.ticari %}
                    <option value="{{i.envanter_yonetimi}}">{{i.envanter_yonetimi}}</option>
                {% endif %}
                    <option value=""></option>
                    <option value="FIFO">FIFO</option>
                    <option value="LIFO">LIFO</option>
                    <option value="Ağırlıklı Ortalama">Ağırlıklı Ortalama</option>
                    <option value="Ortalama Kar">Ortalama Kar Haddi</option>
                    <option value="Basit Ortalama">Basit Ortalama </option>
                    <option value="Hareketli Ortalama">Hareketli Ortalama </option>
                </select>
            </label>
            <label for="ortk"> Ortalama Kar <input value="{{i.ort_kar |stringformat:'.2f' }}" id="ortk" value="0" name="ortk" step="0.01" type="number"></label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">İptal</button>
          <button type="submit" class="btn btn-success" >Kaydet</button>
        </div>
    </form>
      </div>
  
    </div>
  </div>
  {% endfor %}
  
{% endblock content %}