{% extends "homebase.html" %}
{% load custom_tags %}
{% block content %}
<style>
  #kur {
    display: none;
  }
  .yeniform {
    display: none;
  }

</style>
<div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/smmayarlar/" >SM , SMMM , YMM Ayarları</a>
    <a href="/{{firma.firma_ozel_anahtar}}/" style="color:red;">Çıkış Yap</a>

</div>


</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12" style="border: 1px solid black; padding: 20px;">
            <div class="text-center" ><h2>Ayarlar</h2>
            <hr></div>
            
            <form method="post">
                {% csrf_token %}
                <div class="row genel">
                    <div style="border-right: 1px solid black;"  class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="damga">
                                    5033 Sk. Damga Vergisi
                                    <input id="damga" name="damgavergisi5033" value="{% if firma_ayarlari.damga_vergisi_5033sk %}{{firma_ayarlari.damga_vergisi_5033sk}}{% endif %}" type="text">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="mudamga">
                                    Muhasebe Ödemesine Ait Gelir Vergisi Kesintisi Oranı (%)
                                    <input id="mudamga" step="0.01" name="mudamga" value="{% if firma_ayarlari.muhasabe_odemesi_gelir_vergisi_kesinti_orani %}{{firma_ayarlari.muhasabe_odemesi_gelir_vergisi_kesinti_orani|stringformat:'.2F'}}{% else %}0{% endif %}" type="number">
                                </label>
                            </div>
                            <div class="col-6">
                                <label for="kdamga">
                                    Kira Ödemesine Ait Gelir Vergisi Kesintisi Oranı (%)
                                    <input id="kdamga" step="0.01" name="kdamga" value="{% if firma_ayarlari.kira_odemesi_gelir_vergisi_kesinti_orani %}{{firma_ayarlari.kira_odemesi_gelir_vergisi_kesinti_orani|stringformat:'.2F'}}{% else %}0{% endif %}" type="number">
                                </label>
                            </div>
                            <div class="col-6">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                       <div class="row">
                        <div class="col-6">
                            <label for="kdvdamga">
                                KDV Beyannamesi Damga Vergisi
                                <input id="kdvdamga" step="0.01" name="kdvdamga" value="{% if firma_ayarlari.kdv_beyannamesi_damga_vergisi %}{{firma_ayarlari.kdv_beyannamesi_damga_vergisi|stringformat:'.2F'}}{% else %}0{% endif %}" type="number">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="gecicivergi">
                                Geçici Vergi Beyannamesine Ait Damga Vergisi
                                <input id="gecicivergi" step="0.01" name="gecicivergi" value="{% if firma_ayarlari.gecici_vergi_beyannamesi_damga_vergisi %}{{firma_ayarlari.gecici_vergi_beyannamesi_damga_vergisi|stringformat:'.2F'}}{% else %}0{% endif %}" type="number">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="gecicivergikurumlar">
                                Geçici Vergi Oranı (Kurumlar)
                                <input id="gecicivergikurumlar" step="0.01" name="gecicivergikurumlar" value="{% if firma_ayarlari.gecici_vergi_orani_kurumlar %}{{firma_ayarlari.gecici_vergi_orani_kurumlar|stringformat:'.2F'}}{% else %}0{% endif %}" type="number">
                            </label>
                        </div>
                        <div class="col-6">
                            <label for="gecicivergikisi">
                                Geçici Vergi Oranı (Gerçek Kişiler)
                                <input id="gecicivergikisi" step="0.01" name="gecicivergikisi" value="{% if firma_ayarlari.gecici_vergi_orani_gercek_kisiler %}{{firma_ayarlari.gecici_vergi_orani_gercek_kisiler|stringformat:'.2F'}}{% else %}0{% endif %}" type="number">
                            </label>
                        </div>
                       </div>
                    </div>
                    <div class="mt-5" ></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Kaydet</button></div>
                    <div class="col-4"></div>
                    <div class="col-4"><a href="/{{firma.firma_ozel_anahtar}}/kasa/" class="btn btn-danger">İptal Et</a></div>
                </div>

            </form>
        </div>
        <div class="col-2">
            
        </div>
    </div>
</div>

{% endblock content %}