{% extends "homebase.html" %}
{% load custom_tags %}
{% block content %}
<style>
  #kur {
    display: none;
  }
  .yeniform {
    display: none;
  }

</style>
<div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/smmayarlar/" >SM , SMMM , YMM Ayarları</a>
    <a href="/{{firma.firma_ozel_anahtar}}/" style="color:red;">Çıkış Yap</a>

</div>


</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12" style="border: 1px solid black; padding: 20px;">
            <div class="text-center" ><h2>Ayarlar</h2>
            <hr></div>
            
            <form method="post">
                {% csrf_token %}
                <div class="row genel">
                    <div class="col-6">
                        <label for="">Kasa Kodu</label>
                        <br>
                        <input name="kasakodu" type="text" >
                    </div>
                    <div class="col-6">
                        <label for="">Kasa Adı</label>
                        <br>
                        <input name="kasaadi" type="text">
                    </div>
                    <div class="col-6">
                        <label for="">Kasa Açıklaması</label>
                        <br>
                        <input name="kasaaciklamasi"  type="text">
                    </div>
                    <div class="col-6">
                        <label for="">Muh. Kodu</label>
                        <div class="row">
                            <div class="col-10"><input name="muhtasarkodu" id="hesapplani" type="text"></div>
                            <div class="col-2"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        seç
                      </button></div>
                        </div>

                    </div>
                    <div class="col-4"><label for="">Ent. Kodu</label>
                        <br>
                    <select name="entkodu" id="">
                        <option value="0"></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select></div>
                    <div class="col-4"><label for="">Döviz Cinsi</label>
                        <br>
                        <select name="dovizcinsi" id="">
                            
                            <option value="TL">TL</option>
                            <option value="Euro">EURO</option>
                            <option value="Dolar">Dolar</option>
                        </select></div>
                    <div class="col-4">
                        <label for="">Özel Kod</label><br>
                        <input name="ozelkod" type="text">
                    </div>
                    <div class="mt-5" ></div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Kaydet</button></div>
                    <div class="col-4"><button>Kaydet Yenisini Oluştur</button></div>
                    <div class="col-4"><a href="/{{firma.firma_ozel_anahtar}}/kasa/" class="btn btn-danger">İptal Et</a></div>
                </div>

            </form>
        </div>
        <div class="col-2">
            
        </div>
    </div>
</div>

{% endblock content %}