{% extends "homebase.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div style="border: 1px solid black;" class="col-4">
      <h3 class="text-center">TİCARİ RAPORLAR</h3>
      <hr>
      <input type="radio" id="0" name="fav_language" value="0">
<label for="0">1 - Genel Durum</label><br>
<input type="radio" id="1" name="fav_language" value="1">
<label for="1">2 - Stok Durum</label><br>
<input type="radio" id="2" name="fav_language" value="2">
<label for="2">3 - Cari Durum</label><br>
<input type="radio" id="3" name="fav_language" value="3">
<label for="3">4 - Nakit Durum</label><br>
<input type="radio" id="4" name="fav_language" value="4">
<label for="4">5 - Çek/Senet Durum</label><br>
<input type="radio" id="5" name="fav_language" value="5">
<label for="5">6 - Depo Durum</label><br>
<input type="radio" id="6" name="fav_language" value="6">
<label for="6">7 - Cari Hesap Risk Analizi</label><br>
<input type="radio" id="7" name="fav_language" value="7">
<label for="7">8 - Stok Durum (Sipariş Dahil)</label><br>
<input type="radio" id="8" name="fav_language" value="8">
<label for="8">9 - Stok Yaşlandırma </label><br>
<input type="radio" id="9" name="fav_language" value="9">
<label for="9">10 - Stok Değeri </label><br>
    </div>
    <div class="col-8"></div>
  </div>
</div>
{% endblock content %}