{% extends "homebase.html" %}
{% block content %}
<div class="container">
    <div class="row">

      <div class="col-4"><label for="firmalar">Firmalar <br>
          <select  onchange="if (this.value) window.location.href=this.value" style="box-sizing: content-box;" id="firmalar">
            <option value="/{{firma.firma_ozel_anahtar}}">{{firma.firma_unvani}} {{firma.Firma_unvani2}} ({{firma.tanitici_isim}})</option>
            {% for i in firmalarim %}
             {% if firma.id == i.id %}
             
             {% else %}
             <option value="/{{i.firma_ozel_anahtar}}/dilekce/">{{i.firma_unvani}} {{i.Firma_unvani2}} ({{i.tanitici_isim}})</option>
             {% endif %}
              
            {% endfor %}
          </select> </label></div>
      <div class="col-2"></div>
      <div class="col-4">

        <label for="firmalar">Şubeler <br>
          <select style="box-sizing: content-box;" id="firmalar">
          
            {% for i in subeleri %}
                <option value="">{{i.sube_adi}} {{i.sube_unvani}}</option>
            {% endfor %}
          </select> </label>
      </div>
      <div class="col-2">

      </div>
    </div>
    <div class="row">

        <div class="col-4"><label for="firmalar">Hazır Dilekçeler <br>
            <select   style="box-sizing: content-box;" id="firmalar">
              {% for i in dilekcelerimiz %}
               <option value="{{i.id}}">{{i.dilekce_adi}} </option>
              {% endfor %}
            </select> </label></div>
        <div class="col-2"></div>
        <div class="col-4">
  
          <label for="firmalar">Size Ait Olan Dilekçeler <br>
            <select style="box-sizing: content-box;" id="firmalar">
                <option value="0">Burayı Seçerseniz Dilekçenizi Düzenlemeye Devam Edersiniz</option>
                {% for i in dilekceleriniz %}
                <option value="{{i.id}}">{{i.dilekce_adi}} </option>
               {% endfor %}
            </select> </label>
        </div>
        <div class="col-2">
  
        </div>
      </div>
    </div>
{% endblock content %}