{% extends "homebase.html" %}
{% block content %}
  <!--Header-->
  <div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/yenikasakarti/">Yeni Kasa Kartı </a>
    <a style="color: white;" onclick="redirectToSelectedLink()">Kart İncele-Düzelt</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Kart Sil</a>
    <a href="">Ödeme Tahsilat</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

  </div>
  <div class="d-menu">
    <ul>
      <li>
        <ul>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasatahsilfisi/" title="">Tahsilat Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasaodemefisi/" title="">Ödeme Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/virmanfisi/" title="">Virman Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/dovizfisi/" title="">Döviz Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasaacilisfisi/" title="">Açılış Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasatahsilatmakbuzu/" title="">Kasa Tahsilat Makbuzu</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasaodememakbuzu/" title="">Kasa Ödeme Makbuzu</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasamaasodeme/" title="">Maaş Ödeme (Kasa)</a></li>
        </ul><a href="" title="">Kasa Fiş İşlemleri</a>
      </li>
      <li>
        <ul>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasacariodeme/" title="">Ödeme Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasacaritahsilat/" title="">Tahsilat Fişi</a></li>
          <li><a href="" title="">Maaş Ödemesi (Kasa)</a></li>
        </ul><a href="" title="">Cari Fiş İşlemleri</a>

      </li>
      <li>
        <ul>
          <li><a href="/{{firma.firma_ozel_anahtar}}/kasabankayayatirmafisi/" title="">Bankaya Yatırılan</a></li>
          <li><a href="bankadancekilen.html" title="">Bankadan Çekilen</a></li>
        </ul><a href="" title="">Banka Fiş İşlemleri</a>
      </li>
      <li>
        <ul>
          <li><a href="" title="">Çek/Senet Tahsili</a></li>
          <li><a href="" title="">Senet Ödemesi</a></li>
        </ul><a href="" title="">Çek/Senet İşlemleri</a>
      </li>
      <li>
        <a href="" title="">Evrak Bul</a>
      </li>
      <li>
        <a href="" title="">Fiş İncele</a>
      </li>
      <li>
        <a href="" title="">Fiş Düzelt</a>
      </li>
      <li>
        <a href="" title="">Fiş Sil</a>
      </li>
    </ul>
  </div>

  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
  height: 300px;
  overflow: auto;">
      <table class="table table-bordered ">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center" style="min-width: 100px ;">Kasa Kodu</th>
            <th class="text-center" style="min-width: 50px ;">Kasa Adı</th>
            <th class="text-center" style="min-width: 150px ;">Kasa Açıklaması</th>
            <th class="text-center" style="min-width: 100px ;">Dvz. Cinsi</th>
            <th class="text-center">Tip</th>
            <th class="text-center" style="min-width: 150px ;">Toplam Tahsilat</th>
            <th class="text-center" style="min-width: 150px ;">Toplam Ödeme</th>
            <th class="text-center">Bakiye</th>
            <th class="text-center" style="min-width: 100px ;">Özel Kod</th>
            <th class="text-center" style="min-width: 150px ;">Muhasebe Kodu</th>
          </tr>
        </thead>
        <tbody>
        {% for i in kasakartlarim %}
          <tr>
            <td><label for="kasakartisecim{{i.id}}"><input class="kasalar" name="kasakartlari" id="kasakartisecim{{i.id}}" value="{{i.id}}/" type="radio">{{i.kasa_kodu}}</label></td>
            <td>{{i.kasa_adi}}</td>
            <td>{{i.aciklama}}</td>
            <td>{{i.doviz_cinsi}}</td>
            <td>{{i.entkodu}}</td>
            <td>{{i.toplam_tahsilat}} {{i.doviz_cinsi}}</td>
            <td>{{i.toplam_odeme}} {{i.doviz_cinsi}}</td>
            <td>{{i.toplam_bakiye}} {{i.doviz_cinsi}}</td>
            <td>{{i.ozel_kod}}</td>
            <td>{{i.muh_kodu}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
    height: 300px;
    overflow: auto;">
      <table class="table table-bordered">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center">Tarih</th>
            <th class="text-center">Saat</th>
            <th class="text-center" style="min-width: 100px ;">İşlem Türü</th>
            <th class="text-center">Tip</th>
            <th class="text-center" style="min-width: 100px ;">Evrak No</th>
            <th class="text-center">Açıklama</th>
            <th class="text-center">Tahsilat</th>
            <th class="text-center">Ödeme</th>
            <th class="text-center">Döviz Tutari</th>
            <th class="text-center" style="min-width: 100px ;">Cari Ünvan</th>
            <th class="text-center" style="min-width: 100px ;">Banka Adı</th>
            <th class="text-center" style="min-width: 100px ;">Gider/Gelir</th>
            <th class="text-center">M?</th>
            <th class="text-center" style="min-width: 130px ;">Özel Kod(1)</th>
            <th class="text-center" style="min-width: 130px ;">Özel Kod(2)</th>
            <th class="text-center">Ent?</th>
            <th class="text-center" style="min-width: 100px ;">Uyg. Kur</th>
            <th class="text-center" style="min-width: 100px ;">Şube Kodu</th>
            <th class="text-center">Departman</th>
            <th class="text-center" style="min-width: 250px ;">Tahsilatı/Ödemeyi Yapan</th>
            <th class="text-center">Kullanıcı</th>
          </tr>
        </thead>
        <tbody>
        {% for i in kasafisleri %}
          <tr>
            <td>{{i.tarih}}</td>
            <td>{{i.saat}}</td>
            <td>{{i.islem_turu}}</td>
            <td>{{i.ent_kodu}}</td>
            <td>{{i.evrak_no}}</td>
            <td>{{i.aciklama}}</td>
            {% if i.alacakbilgisi == "A" %}
              <td>{{i.tutar}}</td>
              <td>0</td>
              <td>{{i.doviz_tutar}} {{i.islem_doviz_cinsi}}</td>
              {% elif i.alacakbilgisi == "B" %}
              <td>0</td>
              <td>{{i.tutar}}</td>
              <td>{{i.doviz_tutar}} {{i.islem_doviz_cinsi}}</td>
            {% else %}
            <td>0</td>
              <td>{{i.tutar}}</td>
              <td>{{i.doviz_tutar}} {{i.islem_doviz_cinsi}}</td>
            {% endif %}
            
            <td>{% if i.cari_unvan %}
              {{i.cari_unvan}}
            {% else %}
            -
            {% endif %}</td>

            <td>{% if i.banka_bilgisi %}
              {{i.banka_bilgisi.banka_adi}} {{i.banka_bilgisi.sube_adi}}
            {% else %}
            -
            {% endif %}</td>
            <td>{% if i.gelir_bilgisi %}
              ({{i.gelir_bilgisi.gelir_kodu}}) {{i.gelir_bilgisi.gelir_adi}}
            {% elif i.gider_bilgisi %}
            ({{i.gider_bilgisi.gider_kodu}}) {{i.gider_bilgisi.gider_adi}}
            {% else %}
            -
            {% endif %}</td>
            
            <td></td>
            <td>{% if i.ozelkod1 %}
              {{i.ozelkod1}}
            
            {% else %}
            -
            {% endif %}</td>
            <td>{% if i.ozelkod2 %}
              {{i.ozelkod2}}
            
            {% else %}
            -
            {% endif %}</td>
            <td>?</td>
            <td>{% if i.uygun_kur %}
              {{i.uygun_kur}}
            
            {% else %}
            -
            {% endif %}</td>
            <td>
            {% if i.birinciislem_sube_bilgisi %}
              {{i.birinciislem_sube_bilgisi.sube_adi}} {{i.birinciislem_sube_bilgisi.sube_unvani}}
            
            {% else %}
            -
            {% endif %}</td>
            <td>{% if i.birinci_departman %}
              {{i.birinci_departman}}
            
            {% else %}
            -
            {% endif %}</td>
            <td>{% if i.islemi_yapan %}
              {{i.islemi_yapan}}
            
            {% else %}
            -
            {% endif %}</td>
            <td>-</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>


  <script>
    function redirectToSelectedLink() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

  if (selectedLink) {
    window.location.href = "/{{firma.firma_ozel_anahtar}}/kasakartiduzelt/"+selectedLink;
  } else {
    alert('Lütfen bir Kasa Kartı seçin.');
  }
}
function showConfirmationPopup() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

    // Pop-up penceresini aç
    const confirmation = confirm("Emin misiniz?");
    
    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
        // Kullanıcı "Evet" dedi, yönlendirme yap
        window.location.href = "/{{firma.firma_ozel_anahtar}}/kasakartisil/"+selectedLink;
    } else {
        // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
}
  </script>
{% endblock content %}