{% extends "homebase.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-12" style="border: 1px solid black; padding: 20px;">
      <div class="text-center">
        <h2>Yeni Hesap Planı Oluşturma</h2>
        <hr>
      </div>

      <form method="post">
        {% csrf_token %}
        <div class="row genel">
          <div class="col-3">
            <label for="">Hesap Kodu</label>
            <br>
            <input name="hesapkodu" value="{{ hes.hesap_kodu }}" type="text">
          </div>
          <div class="col-3">
            <label for="">Hesap Adı</label>
            <br>
            <input value="{{ hes.hesap_adi }}" name="hesapadi" type="text">
          </div>
          <div class="col-3">
            <label for="">Grup Kodu</label>
            <br>
            <input value="{{ hes.grup_kodu }}" name="grupkodu" type="text">
          </div>
          <div class="col-3">
            <label for="">Hesap Adı (Yabancı Dil)</label>
            <br>
            <input value="{{ hes.hesap_aciklamasi }}" name="hesapadiyabancidil" type="text">
          </div>
          <div class="col-3">
            <label for="">KDV (%)</label>
            <br>
            <input value="{{ hes.kdv_orani|stringformat:'.2f' }}" name="kdvyuzdesi" step="0.01" type="number">
          </div>
          <div class="col-3">
            <label for="">KDV Hesap Kodu</label>
            <br>
            <select name="kdvhesapkodu" id="">
            <option value="{{hes.iliskili_kdv_hesap_kodu2.id}}">{{hes.iliskili_kdv_hesap_kodu2.hesap_kodu}} {{hes.iliskili_kdv_hesap_kodu2.hesap_adi}}</option>
              {% for i in hesapplanlari %}
              <option value="{{i.id}}">{{i.hesap_kodu}} {{i.hesap_adi}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3">

          </div>
          <hr>
          <div class="col-3">
            <label for="">Miktarlı</label>
            <br>
            <select name="miktarli" id="">
            <option value="{{hes.miktarli}}">{{hes.miktarli}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>
            </select>
          </div>
          <div class="col-3">
            <label for="">Stok Kodu</label>
            <br>
            <input value="{{hes.stok_kodu}}" name="stoknumarasi" type="text">
          </div>
          <div class="col-3">
            <label for="">Tevkifat Oranı</label>
            <br>
            <select name="tevkifatorani" id="">
              <option value="{{hes.tevkifat_orani}}">{{hes.tevkifat_orani}}</option>
              <option value=""></option>
              <option value="2/10">2/10</option>
              <option value="3/10">3/10</option>
              <option value="4/10">4/10</option>
              <option value="5/10">5/10</option>
              <option value="7/10">7/10</option>
              <option value="9/10">9/10</option>
            </select>
          </div>
          <div class="col-3">
            <label for="">Tevkifat Hesap Kodu</label>
            <br>
            <select name="tevkifathesapkodu" id="">
            <option value="{{hes.tevkifat_hesap_kodu2.id}}">{{hes.tevkifat_hesap_kodu2.hesap_kodu}} {{hes.tevkifat_hesap_kodu2.hesap_adi}}</option>
              {% for i in hesapplanlari %}
              <option value="{{i.id}}">{{i.hesap_kodu}} {{i.hesap_adi}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3">
            <label for="">KDV İşlem Türü (Tevkifat Hesap Kodu)</label>
            <br>
            <select name="tevkifathesapkodutur" id="">
            <option value="{{hes.kdv_islem_turu.id}}">{{hes.kdv_islem_turu.hesap_kodu}} {{hes.kdv_islem_turu.hesap_adi}}</option>
              {% for i in tevkifa_hesaplari %}
              <option value="{{i.id}}">{{i.hesap_kodu}} {{i.hesap_adi}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3">
            <label for="">Stopaj Oranı (%)</label>
            <br>
            <input value="{{ hes.stopaj_orani|stringformat:'.2f' }}"  name="stopajyuzdesi" step="0.01" type="number">
          </div>
          <div class="col-3">
            <label for="">Stopaj Hesap Kodu</label>
            <br>
            <select name="stopajhesapkodu" id="">
            <option value="{{hes.stopaj_hesap_kodu2.id}}">{{hes.stopaj_hesap_kodu2.hesap_kodu}} {{hes.stopaj_hesap_kodu2.hesap_adi}}</option>
              {% for i in hesapplanlari %}
              <option value="{{i.id}}">{{i.hesap_kodu}} {{i.hesap_adi}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-3">
            <label for="">Stopaj Tür Kodu</label>
            <br>
            <input value="{{hes.stopaj_tur_kodu}}" name="stopajturkodu" type="text">
          </div>
          <div class="col-3">
            <label for="">Stopaj Belge Türü</label>
            <br>
            <select name="stopajbelgeturu" id="">
            <option value="{{hes.stopaj_belge_turu}}">{{hes.stopaj_belge_turu}}</option>
              <option value="">Yok</option>
              <option value="S.M.M Makbuzu">S.M.M Makbuzu</option>
              <option value="M. Makbuzu">M. Makbuzu</option>
              <option value="Gider Pusulası">Gider Pusulası</option>
              <option value="Fatura">Fatura</option>
              <option value="Diğer">Diğer</option>
            </select>
          </div>
          <hr>
          <div class="col-3">
            <label for="">Hesap Detayı</label>
            <br>
            <select name="hesapdetayi" id="">
              <option value="{{hes.detay}}">{{hes.detay}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">Borçlu Alacaklı ? </label>
            <br>
            <select name="borclualacakli" id="">
            <option value="{{hes.borclu_alacakli}}">{{hes.borclu_alacakli}}</option>
              <option value=""></option>
              <option value="Borçlu">Borçlu</option>
              <option value="Alacaklı">Alacaklı</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">Ba Bs ? </label>
            <br>
            <select name="babs" id="">
            <option value="{{hes.ba_bslerde_kullanilsinmi}}">{{hes.ba_bslerde_kullanilsinmi}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">Kur Farkında Kullan </label>
            <br>
            <select name="kurfarkindakullan" id="">
            <option value="{{hes.kur_farkinida_kullan}}">{{hes.kur_farkinida_kullan}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <hr>
          <div class="col-3">
            <label for="">Mutabakat Ayı </label>
            <br>
            <select name="mutabakatayi" id="">
            <option value="{{hes.mutabakat_ayi}}">{{hes.mutabakat_ayi}}</option>
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="col-3">
            <label for="">Kamu Özel</label>
            <br>
            <select name="kamuozel" id="">
            <option value="{{hes.kamumu_ozelmi}}">{{hes.kamumu_ozelmi}}</option>
              <option value=""></option>
              <option value="Kamu Kuruluşlar">Kamu Kuruluşlar</option>
              <option value="Özel Sektör">Özel Sektör</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">Yurtiçi Satış Mı ? (600, 601, 602 Hariç) </label>
            <br>
            <select name="yurticisatismi" id="">
            <option value="{{hes.yurt_ici_satis_mi}}">{{hes.yurt_ici_satis_mi}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">İlave Edilecek KDV Mi?  </label>
            <br>
            <select name="ilaveedilecekkdv" id="">
            <option value="{{hes.ilave_edilecek_kdv_mi}}">{{hes.ilave_edilecek_kdv_mi}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <hr>
          <div class="col-3">
            <label for="">İade KDV Mi?  </label>
            <br>
            <select name="iadekdvmi" id="">
            <option value="{{hes.iade_edilecek_kdv_mi}}">{{hes.iade_edilecek_kdv_mi}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">Özel Matrah Mı?  </label>
            <br>
            <select name="ozelmatrah" id="">
            <option value="{{hes.ozel_matrah_mi}}">{{hes.ozel_matrah_mi}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">Kredi Kartlı Satış Mı ?   </label>
            <br>
            <select name="kredikartli" id="">
            <option value="{{hes.kredi_karti_satis_mi}}">{{hes.kredi_karti_satis_mi}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">Yüklenilen / İadeye Konu Olan KDV Mi ? (İhraç Kayıtlı Satışlar Hariç) </label>
            <br>
            <select name="iadeyekonu" id="">
            <option value="{{hes.yuklenilen_iadeli_konu_olan_kdv_mi}}">{{hes.yuklenilen_iadeli_konu_olan_kdv_mi}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <hr>
          <div class="col-3">
            <label for="">İhraç Kayıtlı Satışlar İçin mi ? (No 85)  </label>
            <br>
            <select name="ihrackayitlisatislar" id="">
             <option value="{{hes.ihrac_kayitli_satis_kdv_mi_85}}">{{hes.ihrac_kayitli_satis_kdv_mi_85}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <div class="col-3">
            <label for="">İhraç Kayıtlı Satışlar İçin mi ? (No 87)  </label>
            <br>
            <select name="ihrackayitlisatislar87" id="">
            <option value="{{hes.ihrac_kayitli_satis_kdv_mi_87}}">{{hes.ihrac_kayitli_satis_kdv_mi_87}}</option>
              <option value=""></option>
              <option value="Evet">Evet</option>
              <option value="Hayır">Hayır</option>              
            </select>
          </div>
          <hr>
          <div class="col-4"></div>
          <div class="col-4"><button type="submit" class="btn btn-warning" >Kaydet </button></div>
          <div class="col-4"><a href="/{{firma.firma_ozel_anahtar}}/hesapplanlari/" class="btn btn-danger">İptal Et</a></div>
        </div>

      </form>
    </div>
    <div class="col-2">

    </div>
  </div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Hesap Planı Seç</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input type="text" id="searchInput" class="form-control" placeholder="Arama...">

        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>Hesap Kodu</th>
              <th>Hesap AdI</th>
            </tr>
          </thead>
          <tbody>
            {% for i in sistemhesapplanlari %}
            <tr>
              <td>{{i.hesap_kodu}}</td>
              <td>{{i.hesap_adi}}</td>

            </tr>
            {% endfor %}
            {% for i in hesapplanlari %}
            <tr>
              <td>{{i.hesap_kodu}}</td>
              <td>{{i.hesap_adi}}</td>

            </tr>
            {% endfor %}


            <!-- Diğer satırları burada ekleyin -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      Seçmek için listeye Tıklamanız Yeterlidir.
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
    </div>

  </div>
</div>

<script>
  const searchInput = document.getElementById('searchInput');
  const table = document.querySelector('.table');
  const firmavergidairesikodu = document.getElementById('hesapplani');
  const firmavergidairesi = document.getElementById("hesapplani");
  searchInput.addEventListener('input', function () {
    const searchText = this.value.toLowerCase();

    for (const row of table.rows) {
      let found = false;
      for (const cell of row.cells) {
        if (cell.textContent.toLowerCase().includes(searchText)) {
          found = true;
          break;
        }
      }
      row.style.display = found ? '' : 'none';
    }
  });

  // Tablo satırlarına tıklama olayını ekle
  const tableRows = table.getElementsByTagName('tr');
  for (let i = 1; i < tableRows.length; i++) {
    tableRows[i].addEventListener('click', function () {
      const cells = this.cells;
      const rowData = {
        id: cells[0].textContent,
        ad: cells[1].textContent,
      };

      // Seçilen veriyi input'a yaz
      firmavergidairesi.value = `${rowData.id}`;
      firmavergidairesikodu.value = `${rowData.id}`;
    });
  }
</script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock content %}