{% extends "homebase.html" %}
{% load custom_tags %}
{% block content %}
<!--Header-->
<div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/hesapplaniekle/">Fişi Düzenle</a>
    <a style="color: white;" onclick="redirectToSelectedLink()">Fişi Göster</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Mizan</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Ba Bs Formu</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Yazdır</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Aylık Özet</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Tevkifatlı Satışlar</a>
    <a href="/{{firma.firma_ozel_anahtar}}/genelmuhasebe/" style="color:red;">Çıkış Yap (ESC)</a>

</div>

<div class="container">
    <div class="row">

        <div class="col-4"><label for="firmalar">Firmalar <br>
                <select onchange="if (this.value) window.location.href=this.value" style="box-sizing: content-box;"
                    id="firmalar">
                    <option value="/{{firma.firma_ozel_anahtar}}">{{firma.firma_unvani}} {{firma.Firma_unvani2}}
                        ({{firma.tanitici_isim}})</option>
                    {% for i in firmalarim %}
                    {% if firma.id == i.id %}

                    {% else %}
                    <option value="/{{i.firma_ozel_anahtar}}/">{{i.firma_unvani}} {{i.Firma_unvani2}}
                        ({{i.tanitici_isim}})</option>
                    {% endif %}

                    {% endfor %}
                </select> </label></div>
        <div class="col-2"></div>
        <div class="col-4">
        </div>
        <div class="col-2">

        </div>
    </div>
</div>
<div class="container">

    <form method="get">
        <div class="row">
            <hr>
            <div class="col-4">
                <label for="">Hesap Kodları: </label>

                <select name="hesa" id="">
                    {% for i in hesapplanlari %}
                    <option value="{{i.id}}">{{i.hesap_kodu}} {{i.hesap_adi}}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="col-4">
                <label for="">Başlangıç Tarihi
                    <input  name="baslangictarihi" type="date">
                </label>
            </div>
            <div class="col-4">
                <label for="">Bitiş Tarihi
                    <input  name="bitistarihi" type="date">
                </label>
            </div>
            <hr>
            <div class="col-4">
                <label for="">Ay</label>
                <select name="ay" id="">
                    <option value=""></option>
                    <option value="1">Ocak</option>
                    <option value="2">Şubat</option>
                    <option value="3">Mart</option>
                    <option value="4">Nisan</option>
                    <option value="5">Mayıs</option>
                    <option value="6">Haziran</option>
                    <option value="7">Temmuz</option>
                    <option value="8">Ağustos</option>
                    <option value="9">Eylül</option>
                    <option value="10">Ekim</option>
                    <option value="11">Kasım</option>
                    <option value="12">Aralık</option>
                </select>
            </div>
            <div class="col-4">
                <label for="">Borçlu Alacaklı</label>
                <select name="borclualacakli" id="">
                    <option value="">Tümü</option>
                    <option value="Borçlu">Borçlu</option>
                    <option value="Alacaklı">Alacaklı</option>
                </select>
            </div>
            <div class="col-4">
                <label for="">Fiş Numarası</label>
                <input name="fisnumarasi" type="text">
            </div>
            <hr>
            <div class="col-4">
                <label for="">Evrak Numarası</label>
                <input name="evraknumarasi" type="text">
            </div>
            <div class="col-4">
                <label for="">Vergi / TC No</label>
                <input name="vergitcno" type="text">
            </div>
            <div class="col-4">
                <label for="">Açıklama</label>
                <input name="aciklama" type="text">
            </div>
            
            <button class="btn btn-success" type="submit">Ara</button>
        </div>
    </form>

</div>
<div class="container mt-3 tablo">
    <div class="table-responsive " style="
  height: 500px;
  overflow: auto;">
        <table class="table table-bordered ">
            <thead style="position: sticky;top: 0">
                <tr>
                    <th class="text-center" style="min-width: 100px ;">Hesap Adı</th>
                    <th class="text-center" style="min-width: 50px ;">Fiş Tarihi</th>
                    <th class="text-center" style="min-width: 150px ;">Tür</th>
                    <th class="text-center" style="min-width: 100px ;">Fiş No</th>
                    <th class="text-center">Yev. No</th>
                    <th class="text-center" style="min-width: 150px ;">Evrak Tarihi</th>
                    <th class="text-center" style="min-width: 150px ;">Seri</th>
                    <th class="text-center">Evrak No</th>
                    <th class="text-center" style="min-width: 100px ;">Verigi / Tc No</th>
                    <th class="text-center" style="min-width: 150px ;">Açıklama</th>
                    <th class="text-center">Borç Tutarı</th>
                    <th class="text-center" style="min-width: 100px ;">Alacak Tutarı</th>
                    <th class="text-center" style="min-width: 150px ;">Bakiye</th>
                    <th class="text-center">Borçlu Alacaklı ? </th>
                    <th class="text-center" style="min-width: 100px ;">Stok Kodu</th>
                    <th class="text-center" style="min-width: 150px ;">Miktar</th>
                    <th class="text-center" style="min-width: 150px ;">Bakiye Miktarı</th>
                    <th class="text-center" style="min-width: 150px ;">Borçlu Alacaklı ?</th>
                    <th class="text-center" style="min-width: 150px ;">Belge Türü</th>
                    <th class="text-center" style="min-width: 150px ;">Belge Açıklaması</th>
                </tr>
            </thead>
            <tbody>
                {% for i in filtrelenmis_fis_icerigi %}
                <tr>
                    <td><label for="kasakartisecim{{i.id}}">
                            
                            {{i.hesap_plani_secim.hesap_adi}}</label></td>
                    
                    <td>{% if i.bagli_oldugufis.fis_tarihi %}
                        {{i.bagli_oldugufis.fis_tarihi}}
                        {% else %}
                        
                        {% endif %}
                    </td>
                    <td>{% if i.bagli_oldugufis.fis_turu %}
                        {{i.bagli_oldugufis.fis_turu}}
                        {% else %}
                        
                        {% endif %}
                    </td>
                    <td>{% if i.bagli_oldugufis.fis_no %}
                        {{i.bagli_oldugufis.fis_no}}
                        {% else %}
                        
                        {% endif %}
                    </td>
                    <td>{% if i.bagli_oldugufis.yevmiye_no %}
                        {{i.bagli_oldugufis.yevmiye_no}}
                        {% else %}
                        
                        {% endif %}
                    </td>
                    <td>{% if i.evrak_tarihi %}
                        {{i.evrak_tarihi}}

                        {% endif %}
                    </td>
                    <td></td>
                    <td>{% if i.evrak_no %}
                        {{i.evrak_no}}

                        {% endif %}
                    </td>
                    <td>{% if i.vergi_numarasi %}
                        {{i.vergi_numarasi}}

                        {% endif %}
                    </td>
                    <td>{% if i.aciklama %}
                        {{i.aciklama}}

                        {% endif %}</td>
                    <td>{{i.borc}}</td>
                    <td>{{i.alacak_bilgisi}}</td>
                    <td>
                    {% bakiye_degeri  i.alacak_bilgisi i.borc %}
                         
                    </td>
                    <td>
                        {% bakiye_degeri_i  i.alacak_bilgisi i.borc %}
                    </td>
                  
                    <td>{% if i.bakiye_tipi %}
                        {{i.bakiye_tipi}}
                        {% endif %}
                    </td>
                    <td>{{i.borclu_alacakli}}</td>
                      <td>{{i.hesap_plani_secim.bakiye_toplam}}</td>
                    <td>{% if i.hesap_plani_secim.alacak_toplam > i.hesap_plani_secim.borc_toplam %}
                        A
                        {% else %}
                        B
                        {% endif %}
                    </td>
                     <td>{% if i.bt_turu %}
                        {{i.bt_turu}}
                        {% endif %}
                    </td>
                    <td>{% if i.aciklama8belgesi %}
                        {{i.aciklama8belgesi}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<script>
    function redirectToSelectedLink() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        if (selectedLink) {
            window.location.href = "/{{firma.firma_ozel_anahtar}}/hesapplaniduzenle/" + selectedLink;
        } else {
            alert('Lütfen bir Kasa Kartı seçin.');
        }
    }
    function showConfirmationPopup() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        // Pop-up penceresini aç
        const confirmation = confirm("Emin misiniz?");

        // Kullanıcının seçimine göre işlem yap
        if (confirmation) {
            // Kullanıcı "Evet" dedi, yönlendirme yap
            window.location.href = "/{{firma.firma_ozel_anahtar}}/hesapplanisil/" + selectedLink;
        } else {
            // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
        }
    }
</script>
{% endblock content %}