{% extends "homebase.html" %}
{% block content %}
  <div class="icon-bar">
    <form method="post">
      {% csrf_token %}
    <button type="submit" class="btn btn-primary">Kaydet / <br> Yeni Sipariş <br> Oluştur</button>
    <a href="javascript:void(0);" onclick="ekleYeniSatir()">Bir Ürün Daha Ekle</a>
    <a href="">Kart İncele-Düzelt</a>
    <a href="">Kart Sil</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

  </div>
  <div class="d-menu">
    <ul>
      <li>
        <ul>
        </ul><a href="" title="">İrsaleye Aktar</a>
      </li>
      <li>
        <ul>
        </ul><a href="" title="">Faturaya Aktar</a>

      </li>
      <li>
        <ul>
        </ul><a href="" title="">Yazdır</a>
      </li>
    </ul>
  </div>

  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
  height: 300px;
  overflow: auto;">
      <table class="table table-bordered ">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center" style="min-width: 100px ;">Tarih</th>
            <th class="text-center" style="min-width: 50px ;">Sipariş No</th>
            <th class="text-center" style="min-width: 150px ;">İşlem Türü</th>
            <th class="text-center" style="min-width: 100px ;">Durum</th>
            <th class="text-center">Onay</th>
            <th class="text-center" style="min-width: 150px ;">E.Kodu</th>
            <th class="text-center" style="min-width: 150px ;">Y?</th>
            <th class="text-center">A/P</th>
            <th class="text-center" style="min-width: 100px ;">Cari Unvan</th>
            <th class="text-center" style="min-width: 150px ;">Döviz Cinsi</th>
            <th class="text-center" style="min-width: 150px ;">Tutar Döviz</th>
            <th class="text-center" style="min-width: 150px ;">Tutar TL</th>
            <th class="text-center" style="min-width: 150px ;">Özel Kod1</th>
            <th class="text-center" style="min-width: 150px ;">Özel Kod2</th>
            <th class="text-center" style="min-width: 150px ;">Açıklama</th>
            <th class="text-center" style="min-width: 150px ;">Depo</th>
            <th class="text-center" style="min-width: 150px ;">Depertman</th>
            <th class="text-center" style="min-width: 150px ;">Şube</th>
            <th class="text-center" style="min-width: 150px ;">Satıcı</th>
            <th class="text-center" style="min-width: 150px ;">Ödeme Şekli</th>
            <th class="text-center" style="min-width: 150px ;">Günlük Kur</th>
            <th class="text-center" style="min-width: 150px ;">Uygun Kur</th>
            <th class="text-center" style="min-width: 150px ;">İptal ? </th>
            <th class="text-center" style="min-width: 150px ;">Kullanıcı</th>
            <th class="text-center" style="min-width: 150px ;">Kayıt Tarihi</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>

            <td><input type="radio">01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
    height: 300px;
    overflow: auto;">
      <table class="table table-bordered-second">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center">Tip</th>
            <th class="text-center">Tür</th>
            <th class="text-center">Sipariş No</th>
            <th class="text-center" style="min-width: 200px;">Cari Unvan</th>
            <th class="text-center" style="min-width: 200px;">Stok Kodu ve Stok Adı</th>
            <th class="text-center">Ent</th>
            <th class="text-center">KDV ?</th>
            <th class="text-center">Satıcı</th>
            <th class="text-center">Şube</th>
            <th class="text-center">Döviz Cinsi</th>
            <th class="text-center">Depo</th>
            <th class="text-center">Teslim Tarihi</th>
            <th class="text-center">Teslim Şekli</th>
            <th class="text-center">Depertman</th>
            <th class="text-center">Miktar</th>
            <th class="text-center">Birim</th>
            <th class="text-center">Birim Fiyat(TL)</th>
            <th class="text-center">İndirim (%)</th>
            <th class="text-center" style="min-width: 100px ;">İndirim (TL)</th>
            <th class="text-center" style="min-width: 100px ;">Tutar </th>
            <th class="text-center" style="min-width: 100px ;">KDV (%)</th>
            <th class="text-center">KDV (TL)</th>
            <th class="text-center" style="min-width: 130px ;">ÖTV (%)</th>
            <th class="text-center" style="min-width: 130px ;">ÖTV (TL)</th>
            <th class="text-center">Teslim Şekli</th>
            <th class="text-center" style="min-width: 100px ;">Teslim Tarihi</th>
            <th class="text-center" style="min-width: 100px ;">Durumu</th>
            <th class="text-center">İndirim 1</th>
            <th class="text-center">İndirim 2</th>
            <th class="text-center">İndirim 3</th>
            <th class="text-center" style="min-width: 250px ;">Özel Kod 1</th>
            <th class="text-center" style="min-width: 250px ;">Özel Kod 2</th>
            <th class="text-center">Depertman</th>
            <th class="text-center">Satır Açıklaması</th>
            <th class="text-center">Seri No</th>
            <th class="text-center">S. Birim</th>
            <th class="text-center">S. Miktarı</th>
            <th class="text-center">Özellik 1</th>
            <th class="text-center">Özellik 2</th>
            <th class="text-center">Özellik 3</th>
            <th class="text-center">Özellik 4</th>
            <th class="text-center">Özellik 5</th>
            <th class="text-center">Alternatif Stok Kodu</th>
            <th class="text-center">Alternatif Stok Adı</th>
            <th class="text-center">Kalite</th>
            <th class="text-center">Ana Miktar</th>
            <th class="text-center">Ana Birim Fiyat (TL)</th>
            <th class="text-center">Ana Birim Fiyat (Döviz)</th>
            <th class="text-center">Parti Kodu</th>
            <th class="text-center">Son Kullanım Tarihi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><select name="siparisturu" id="">
              <option value="Normal">Normal</option>
              <option value="İndirimli">İndirimli</option>
            </select></td>
            <td><select name="grupturu" id="grupturu">
              <option value="Alınan Sipariş">Alınan Sipariş</option>
              <option value="Verilen Sipariş">Verilen Sipariş</option>
              <option value="Alınan Teklif">Alınan Teklif</option>
              <option value="Verilen Teklif">Verilen Teklif</option>
            </select></td>
            <td><input type="text" name="siparisno"></td>
            <td><select name="carisecim" id="carisecim">
              {% for i in carilerim %}
              
              <option value="{{i.id}}" id="{% for j in carilerimsube %}{% if i.id == j.cari_bilgisi.id %}{% if j.subebilgilerisubeadi %}{{j.subebilgilerisubeadi}}{% else %}{% endif %}{% else %}{% endif %}{% endfor %}" class="{{i.muhkodu}}">({{i.cari_kodu}}) {{i.cari_adi}}</option>
              {% endfor %}
          </select></td>
            <td><select onchange="yeniselect(this)" name="stok" id="stoksecim">
              {% for i in stokkartlarim %}
                <option value="{{i.id}}">({{i.stok_kodu}}) {{i.stok_adi}}</option>
              {% endfor %}
              
            </select></td>
            <td><select name="entkodu" id="">
              <option value="1">1</option>
              <option value="2">2</option>
            </select></td>
            <td><select name="kdvdurumu" id="">
              <option value="Hariç">Hariç</option>
              <option value="Dahil">Dahil</option>
            </select></td>
            <td><input type="text" name="satici"></td>
            <td><select name="sube" id="">
              {% for i in subeleri %}
              <option value="{{i.id}}">{{i.sube_adi}} {{i.sube_unvani}}</option>
              {% endfor %}
              
            </select></td>
            <td><select name="dovizcinsi" id="">
              <option value="TL">TL</option>
              <option value="Dolar">Dolar</option>
              <option value="Euro">Euro</option>
            </select></td>
            <td><input type="text" name="depobilgisi"></td>
            <td><input type="date" name="teslimtarihi"></td>
            <td><input type="text" name="teslimsekili"></td>
            <td><input type="text" name="departman"></td>
            <td><input type="number" step="0.001" value="1" name="stokmiktari"></td>
            <td><input type="text" id="birimbilgisi" name="birimbilgisi"></td>
            <td><input type="number" id="stokbirimfiyati" step="0.001" name="stokbirimfiyati"></td>
            <td><input type="number" id="stokindirimyuzdesi" step="0.001" name="stokindirimyuzdesi"></td>
            <td><input type="number" id="stokindirimtl" step="0.001" name="stokindirimtl"></td>
            <td><input type="number" id="stoktutari" step="0.001" name="stoktutari"></td>
            <td><input type="number" id="stokkdvyuzdesi" step="0.001" name="stokkdvyuzdesi"></td>
            <td><input type="number" id="stokkdvtl" step="0.001" name="stokkdvtl"></td>
            <td><input type="number" id="stokotvyuzdesi" step="0.001" name="stokotvyuzdesi"></td>
            <td><input type="number" id="stokotvtl" step="0.001" name="stokotvtl"></td>
            <td><input type="text" name="stokteslimsekli"></td>
            <td><input type="date" name="urunteslimtarihi"></td>
            <td><input type="text" name="stokdurumu"></td>
            <td><input type="number" id="stokindirim1" step="0.001" name="stokindirim1"></td>
            <td><input type="number" id="stokindirim2" step="0.001" name="stokindirim2"></td>
            <td><input type="number" id="stokindirim3" step="0.001" name="stokindirim3"></td>
            <td><input type="text" id="stokozelkod1" name="stokozelkod1"></td>
            <td><input type="text" id="stokozelkod2" name="stokozelkod2"></td>
            <td><input type="text" id="stokdepartman" name="stokdepartman"></td>
            <td><input type="text" name="stoksatiraciklamasi"></td>
            <td><input type="text" name="stokserino"></td>
            <td><input type="text" id="stokbirimi" name="stokbirimi"></td>
            <td><input type="number" id="stokmiktaribilgisi" step="0.001" name="stokmiktaribilgisi"></td>
            <td><input type="text" id="stokozellik1" name="stokozellik1"></td>
            <td><input type="text" id="stokozellik2" name="stokozellik2"></td>
            <td><input type="text" id="stokozellik3" name="stokozellik3"></td>
            <td><input type="text" id="stokozellik4" name="stokozellik4"></td>
            <td><input type="text" id="stokozellik5" name="stokozellik5"></td>
            <td><input type="text" id="stokalternatifstokkodu" name="stokalternatifstokkodu"></td>
            <td><input type="text" id="stokalternatifstokadi" name="stokalternatifstokadi"></td>
            <td><input type="text" id="stokkalitekodu" name="stokkalitekodu"></td>
            <td><input type="number" id="stokanamiktari" step="0.001" name="stokanamiktari"></td>
            <td><input type="number" id="stokanamiktaribirimfiyattl" step="0.001" name="stokanamiktaribirimfiyattl"></td>
            <td><input type="number" id="stokanamiktaribirimfiyatdvz" step="0.001" name="stokanamiktaribirimfiyatdvz"></td>
            <td><input type="text" id="stokpartikodu" name="stokpartikodu"></td>
            <td><input type="date" id="sonkullanimtarihi" name="sonkullanimtarihi"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
  <script>
    function redirectToSelectedLink() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

  if (selectedLink) {
    window.location.href = "/{{firma.firma_ozel_anahtar}}/kasakartiduzelt/"+selectedLink;
  } else {
    alert('Lütfen bir Kasa Kartı seçin.');
  }
}
function showConfirmationPopup() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

    // Pop-up penceresini aç
    const confirmation = confirm("Emin misiniz?");
    
    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
        // Kullanıcı "Evet" dedi, yönlendirme yap
        window.location.href = "/{{firma.firma_ozel_anahtar}}/kasakartisil/"+selectedLink;
    } else {
        // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
}

  </script>
<script>
  function ekleYeniSatir() {
    
  // Yeni bir <tr> (satır) öğesi oluştur
  var yeniSatir = document.createElement('tr');

  // Satırın içeriğini belirle
  yeniSatir.innerHTML = `
  <tr>
            <td><select name="siparisturu" id="">
              <option value="Normal">Normal</option>
              <option value="İndirimli">İndirimli</option>
            </select></td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td><select name="stok" onchange="yeniselect(this)" id="stoksecim">
              {% for i in stokkartlarim %}
                <option value="{{i.id}}">({{i.stok_kodu}}) {{i.stok_adi}}</option>
              {% endfor %}
              
            </select></td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td>Seçim Yaptınız</td>
            <td><input type="number" step="0.001" value="1" name="stokmiktari"></td>
            <td><input type="text" id="birimbilgisi" name="birimbilgisi"></td>
            <td><input type="number" id="stokbirimfiyati" step="0.001" name="stokbirimfiyati"></td>
            <td><input type="number" id="stokindirimyuzdesi" step="0.001" name="stokindirimyuzdesi"></td>
            <td><input type="number" id="stokindirimtl" step="0.001" name="stokindirimtl"></td>
            <td><input type="number" id="stoktutari" step="0.001" name="stoktutari"></td>
            <td><input type="number" id="stokkdvyuzdesi" step="0.001" name="stokkdvyuzdesi"></td>
            <td><input type="number" id="stokkdvtl" step="0.001" name="stokkdvtl"></td>
            <td><input type="number" id="stokotvyuzdesi" step="0.001" name="stokotvyuzdesi"></td>
            <td><input type="number" id="stokotvtl" step="0.001" name="stokotvtl"></td>
            <td><input type="text" name="stokteslimsekli"></td>
            <td><input type="date" name="urunteslimtarihi"></td>
            <td><input type="text" name="stokdurumu"></td>
            <td><input type="number" id="stokindirim1" step="0.001" name="stokindirim1"></td>
            <td><input type="number" id="stokindirim2" step="0.001" name="stokindirim2"></td>
            <td><input type="number" id="stokindirim3" step="0.001" name="stokindirim3"></td>
            <td><input type="text" id="stokozelkod1" name="stokozelkod1"></td>
            <td><input type="text" id="stokozelkod2" name="stokozelkod2"></td>
            <td><input type="text" id="stokdepartman" name="stokdepartman"></td>
            <td><input type="text" name="stoksatiraciklamasi"></td>
            <td><input type="text" name="stokserino"></td>
            <td><input type="text" id="stokbirimi" name="stokbirimi"></td>
            <td><input type="number" id="stokmiktaribilgisi" step="0.001" name="stokmiktaribilgisi"></td>
            <td><input type="text" id="stokozellik1" name="stokozellik1"></td>
            <td><input type="text" id="stokozellik2" name="stokozellik2"></td>
            <td><input type="text" id="stokozellik3" name="stokozellik3"></td>
            <td><input type="text" id="stokozellik4" name="stokozellik4"></td>
            <td><input type="text" id="stokozellik5" name="stokozellik5"></td>
            <td><input type="text" id="stokalternatifstokkodu" name="stokalternatifstokkodu"></td>
            <td><input type="text" id="stokalternatifstokadi" name="stokalternatifstokadi"></td>
            <td><input type="text" id="stokkalitekodu" name="stokkalitekodu"></td>
            <td><input type="number" id="stokanamiktari" step="0.001" name="stokanamiktari"></td>
            <td><input type="number" id="stokanamiktaribirimfiyattl" step="0.001" name="stokanamiktaribirimfiyattl"></td>
            <td><input type="number" id="stokanamiktaribirimfiyatdvz" step="0.001" name="stokanamiktaribirimfiyatdvz"></td>
            <td><input type="text" id="stokpartikodu" name="stokpartikodu"></td>
            <td><input type="date" id="sonkullanimtarihi" name="sonkullanimtarihi"></td>
          </tr>
  `;

  // Tablonun <tbody> kısmını seç
  var tabloGovdesi = document.querySelector('.table-bordered-second tbody');

  // Yeni oluşturulan satırı tablonun sonuna ekle
  tabloGovdesi.appendChild(yeniSatir);
  yeniselect();
}
</script>
<script>
  let sozluk = {
    "anahtar1": "değer1",
    "anahtar2": "değer2",
    "anahtar3": "değer3",
    // ...
};
  document.addEventListener('DOMContentLoaded', function() {
  // Sayfa yüklendiğinde çalışacak kodlar
  const selectedStock = document.getElementById('stoksecim'); // selectedStock elemanını buraya ekleyin

  function yeniselect(selectedStock) {
    const allCustomSelects = document.querySelectorAll('#stoksecim');
    allCustomSelects.forEach((select, index) => {
      select.addEventListener('change', function(event) {
        // Etkinlik dinleyicisinin içeriği burada
        // ... (diğer kodlar)
      });
    });
  }

  yeniselect(selectedStock); // Fonksiyonu sayfa yüklendiğinde çağır
});
  yeniselect();
  function yeniselect(selectedStock) {
  const allCustomSelects = document.querySelectorAll('#stoksecim');
// Her bir <select> için olay dinleyici ekle
allCustomSelects.forEach((select, index) => {
  select.addEventListener('change', function(event) {
    
    const selectedOption = event.target.value;
    alert(selectedOption)
    const selectIndex = index ; // Seçeneğin sırasını almak için index'i kullanabilirsiniz.
    // Tıklanan seçeneğin ve sırasının konsola yazdırılması.
    // İstediğiniz işlemi bu noktada gerçekleştirebilirsiniz.
    var stockName = selectedStock.options[selectedStock.selectedIndex].text; // Seçilen stok adı
    var stockPrice = "100"+selectIndex; // Örnek olarak sabit bir stok fiyatı
    var selectedStockValue = selectedStock.value;
    var grupturu = document.getElementById("grupturu");
    const grupturusecilen = grupturu.options[grupturu.selectedIndex];
    // Örnek olarak fiyat bilgisini stok fiyatı alanına yerleştirme
    document.getElementsByName('birimbilgisi')[selectIndex].value = stockPrice;
    document.getElementsByName('stokbirimfiyati')[selectIndex].value = stockPrice;
    document.getElementsByName('stokindirimyuzdesi')[selectIndex].value = stockPrice;
    document.getElementsByName('stokkdvyuzdesi')[selectIndex].value = stockPrice;
    document.getElementsByName('stokotvyuzdesi')[selectIndex].value = stockPrice;
    document.getElementsByName('stokindirim1')[selectIndex].value = "{% for i in stokkartlarim %}{% for j in stokkartozelligi1 %}{% if i.id == j.stok_karti_bilgisi.id  %}{% if i.id == selectedOption %}{{j.indirim1}}{% else %}{% endif %}{% else %}{% endif %}{% endfor %}{% endfor %} ";
    document.getElementsByName('stokindirim2')[selectIndex].value = stockPrice;
    document.getElementsByName('stokindirim3')[selectIndex].value = stockPrice;
    document.getElementsByName('stokozelkod1')[selectIndex].value = stockPrice;
    document.getElementsByName('stokozelkod2')[selectIndex].value = stockPrice;
    document.getElementsByName('stokdepartman')[selectIndex].value = stockPrice;
    document.getElementsByName('stokbirimi')[selectIndex].value = stockPrice;
    document.getElementsByName('stokmiktaribilgisi')[selectIndex].value = stockPrice;
    document.getElementsByName('stokozellik1')[selectIndex].value = stockPrice;
    document.getElementsByName('stokozellik2')[selectIndex].value = stockPrice;
    document.getElementsByName('stokozellik3')[selectIndex].value = stockPrice;
    document.getElementsByName('stokozellik4')[selectIndex].value = stockPrice;
    document.getElementsByName('stokozellik5')[selectIndex].value = stockPrice;
    document.getElementsByName('stokalternatifstokkodu')[selectIndex].value = stockPrice;
    document.getElementsByName('stokalternatifstokadi')[selectIndex].value = stockPrice;
    document.getElementsByName('stokkalitekodu')[selectIndex].value = stockPrice;
    document.getElementsByName('stokanamiktari')[selectIndex].value = stockPrice;
    document.getElementsByName('stokanamiktaribirimfiyattl')[selectIndex].value = stockPrice;
    document.getElementsByName('stokanamiktaribirimfiyatdvz')[selectIndex].value = stockPrice;
  });
});};
  function fillStockInformation(selectedStock) {
    
    
    // Burada seçilen stokla ilgili bilgileri alarak, input alanlarına yerleştireceğiz
    // Örneğin, seçilen stokun adını ve fiyatını alıp, ilgili input alanlarına ekleyebiliriz
    // Bu örnek veri, seçilen stokun verilerini içermelidir, gerçek verilere göre düzenlenmelidir
    
  }
  </script>
  
{% endblock content %}