{% extends "homebase.html" %}

{% block content %}
  <div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/yenibankakarti/">Yeni Banka Kartı </a>
    <a style="color: white;" onclick="redirectToSelectedLink()">Kart İncele-Düzelt</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Kart Sil</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

  </div>
  <div class="d-menu">
    <ul>
      <li>
        <ul>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankadankasayayatirma/" title="">Bankaya Yatırılan </a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankakasacekmefisi/" title="">Bankadan Çekilen</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankaacilisfisi/" title="">Açılış Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankavirmanfisi/" title="">Virman Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankadovizfisi/" title="">Döviz Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankagelirfisi/" title="">Gelir Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankagiderfisi/" title="">Gider Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/" title="">Faiz Geliri Fişi</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankagelirmakbuzu" title="">Banka Gelir Makbuzu</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankagidermakbuzu/" title="">Banka Gider Makbuzu</a></li>
        </ul><a href="/{{firma.firma_ozel_anahtar}}/" title="">Banka Dekontları</a>
      </li>
      <li>
        <ul>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankagelenhavale/" title="">Gelen Havale</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}/bankagonderilenhavale/" title="">Giden Havale</a></li>
          <li><a href="/{{firma.firma_ozel_anahtar}}" title="">Maaş Ödemesi</a></li>
        </ul><a href="" title="">Cari İşlemleri</a>

      </li>
      <li>
        <ul>
          <li><a href="bankayayatirilan.html" title="">Çek/Senet Tahsilin</a></li>
          <li><a href="bankadancekilen.html" title="">Çek Ödemesi</a></li>
        </ul><a href="" title="">Çek Senet İşlemleri</a>
      </li>
      <li>
        <a href="" title="">Evrak Bul</a>
      </li>
      <li>
        <a href="" title="">Fiş İncele</a>
      </li>
      <li>
        <a href="" title="">Fiş Düzelt</a>
      </li>
      <li>
        <a href="" title="">Fiş Sil</a>
      </li>
    </ul>
  </div>

  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
  height: 300px;
  overflow: auto;">
      <table class="table table-bordered ">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center" style="min-width: 100px ;">Banka Kodu</th>
            <th class="text-center" style="min-width: 50px ;">Banka Adı</th>
            <th class="text-center" style="min-width: 150px ;">Şubesi</th>
            <th class="text-center" style="min-width: 100px ;">Hesap Tipi</th>
            <th class="text-center">Hesap No</th>
            <th class="text-center" style="min-width: 150px ;">Dvz.Cinsi</th>
            <th class="text-center" style="min-width: 150px ;">Toplam Yatan</th>
            <th class="text-center">Toplam Çekilen</th>
            <th class="text-center" style="min-width: 100px ;">Bakiye</th>
            <th class="text-center" style="min-width: 150px ;">Özel Kod</th>
            <th class="text-center" style="min-width: 150px ;">Muh.Kodu</th>


          </tr>
        </thead>
        <tbody>
        {% for i in bankalarim %}
          <tr>

            <td><label for="kasakartisecim{{i.id}}"><input class="kasalar" name="kasakartlari"
                                id="kasakartisecim{{i.id}}" value="{{i.id}}/" type="radio">{{i.banka_kodu}}</td>
            <td>{{i.banka_adi}}</td>
            <td>{{i.sube_adi}}</td>
            <td>{{i.hesap_turu}}</td>
            <td>{{i.hesap_no}}</td>
            <td>{{i.doviz_cinsi}}</td>
            <td>{{i.toplam_yatirilan}} {{i.doviz_cinsi}}</td>
            <td>{{i.toplam_cekilen}} {{i.doviz_cinsi}}</td>
            <td>{{i.toplam_bakiye}} {{i.doviz_cinsi}}</td>
            <td>{{i.ozel_kod}}</td>
            {% for j in banka_kodlari %}
            {% if i.id == j.banka_bilgisi.id  %}
            <td>{{j.banka_muhasebe_hesap_kodu}}</td>
            {% else %}
            <td>Girilmemiş</td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="tab">
            <a class="tablinks btn btn-secondary" onclick="openCity(event, 'a')">Banka Hareketleri</a>
            <a class="tablinks btn btn-secondary" onclick="openCity(event, 'k')">POS Hareketleri</a>
            <a class="tablinks btn btn-secondary" onclick="openCity(event, 'd')">Banka Kredileri</a>
            <a class="tablinks btn btn-secondary" onclick="openCity(event, 's')">Şirket Kredi Kartları</a>
          </div>
          
          <div id="a" class="tabcontent">
            <div class="row">
              <div class="tablo" style="margin-top: 0px !important;">
                <div class="table-responsive " style="
              height: 300px;
              overflow: auto;">
                  <table class="table table-bordered ">
                    <thead style="position: sticky;top: 0">
                      <tr>
                        <th class="text-center" style="min-width: 100px ;">Tarih</th>
                        <th class="text-center" style="min-width: 50px ;">Saat</th>
                        <th class="text-center" style="min-width: 150px ;">İşlem Türü</th>
                        <th class="text-center" style="min-width: 100px ;">Evrak No</th>
                        <th class="text-center">Açıklama</th>
                        <th class="text-center" style="min-width: 150px ;">Yatan</th>
                        <th class="text-center" style="min-width: 150px ;">Çekilen</th>
                        <th class="text-center">Bakiye</th>
                        <th class="text-center" style="min-width: 100px ;">Cari Unvan</th>
                        <th class="text-center" style="min-width: 150px ;">Kasa</th>
                        <th class="text-center" style="min-width: 150px ;">Gider mi ? Gelir mi?</th>
                        <th class="text-center" style="min-width: 100px ;">M?</th>
                        <th class="text-center" style="min-width: 150px ;">Özel Kod 1</th>
                        <th class="text-center" style="min-width: 150px ;">Özel Kod 2</th>
                        <th class="text-center" style="min-width: 150px ;">Ent ? </th>
                        <th class="text-center" style="min-width: 150px ;">Uygun Kur</th>
                        <th class="text-center" style="min-width: 150px ;">Şube Kodu</th>
                        <th class="text-center" style="min-width: 150px ;">Departman</th>
                        <th class="text-center" style="min-width: 150px ;">Yatıran/ Çeken </th>
                        <th class="text-center" style="min-width: 150px ;">Kullanıcı</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in banka_islemleri %}
                      <tr>
                        <td>{{i.tarih}}</td>
                        <td>{{i.saat}}</td>
                        <td>{{i.islem_turu}}</td>
                        <td>{{i.evrak_no}}</td>
                        <td>{{i.aciklama}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    {% endfor %}
                    {% for i in bankada_yapilanfisler %}
                      <tr>
                        <td>{{i.tarih}}</td>
                        <td>{{i.saat}}</td>
                        <td>{{i.islem_turu}}</td>
                        <td>{{i.evrak_no}}</td>
                        <td>{{i.aciklama}}</td>
                        <td></td>
                        <td></td>
                        <td>{{i.islem_sonucu_bakiye_birinci_banka}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          <div id="k" class="tabcontent">
            <div class="row">
              <div class="tablo" style="margin-top: 0px !important;">
                <div class="table-responsive " style="
              height: 300px;
              overflow: auto;">
                  <table class="table table-bordered ">
                    <thead style="position: sticky;top: 0">
                      <tr>
                        <th class="text-center" style="min-width: 100px ;">Çekim Tarih</th>
                        <th class="text-center" style="min-width: 50px ;">Vade Tarihi</th>
                        <th class="text-center" style="min-width: 150px ;">Saat</th>
                        <th class="text-center" style="min-width: 100px ;">Evrak No</th>
                        <th class="text-center">Referans No</th>
                        <th class="text-center" style="min-width: 150px ;">Durum</th>
                        <th class="text-center" style="min-width: 150px ;">Brüt Tutar</th>
                        <th class="text-center" style="min-width: 150px ;">Kesim Toplam</th>
                        <th class="text-center">Net Tutar</th>
                        <th class="text-center" style="min-width: 100px ;">Ödenen Tutar</th>
                        <th class="text-center" style="min-width: 150px ;">Bakiye</th>
                        <th class="text-center" style="min-width: 150px ;">Cari Unvan</th>
                        <th class="text-center" style="min-width: 100px ;">Açıklama</th>
                        <th class="text-center" style="min-width: 150px ;">Kullanıcı</th>
                        <th class="text-center" style="min-width: 150px ;">Kart Numarası</th>
                        <th class="text-center" style="min-width: 150px ;">Kart Türü</th>
                        <th class="text-center" style="min-width: 150px ;">Kart Adı</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
            
                        <td><input type="radio">01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          <div id="d" class="tabcontent">
            <div class="row">
              <div class="tablo" style="margin-top: 0px !important;">
                <div class="table-responsive " style="
              height: 300px;
              overflow: auto;">
                  <table class="table table-bordered ">
                    <thead style="position: sticky;top: 0">
                      <tr>
                        <th class="text-center" style="min-width: 100px ;">Tarih</th>
                        <th class="text-center" style="min-width: 50px ;">Kredi No</th>
                        <th class="text-center" style="min-width: 150px ;">Faiz Oranı (%)</th>
                        <th class="text-center" style="min-width: 100px ;">Döviz Cinsi</th>
                        <th class="text-center">Kredi Tutarı</th>
                        <th class="text-center" style="min-width: 150px ;">Ödenen Tutar</th>
                        <th class="text-center" style="min-width: 150px ;">Kalan Tutar</th>
                        <th class="text-center" style="min-width: 150px ;">Açıklama</th>
                        <th class="text-center">Kullanıcı</th>
                        <th class="text-center" style="min-width: 100px ;">Ana Para Tutarı</th>
                        <th class="text-center" style="min-width: 150px ;">Faiz Tutarı</th>
                        <th class="text-center" style="min-width: 150px ;">BSMV Tutarı</th>
                        <th class="text-center" style="min-width: 100px ;">KKDF Tutarı</th>
                        <th class="text-center" style="min-width: 150px ;">Dosya Masrafı</th>
                        <th class="text-center" style="min-width: 150px ;">Durum</th>
                        <th class="text-center" style="min-width: 150px ;">Kapanma Tarihi</th>
                        <th class="text-center" style="min-width: 150px ;">Kayıt Tarihi</th>
                        <th class="text-center" style="min-width: 150px ;">DEğiştirme Tarihi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
            
                        <td><input type="radio">01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-8">
                <div class="tablo" style="margin-top: 0px !important;">
                  <div class="table-responsive " style="
                height: 300px;
                overflow: auto;">
                    <table class="table table-bordered ">
                      <thead style="position: sticky;top: 0">
                        <tr>
                          <th class="text-center" style="min-width: 100px ;">No</th>
                          <th class="text-center" style="min-width: 50px ;">Taksit Tarihi</th>
                          <th class="text-center" style="min-width: 150px ;">Ödendimi ? </th>
                          <th class="text-center" style="min-width: 100px ;">Taksit tutarı</th>
                          <th class="text-center">Ana Para Tutarı</th>
                          <th class="text-center" style="min-width: 150px ;">Faiz Tutarı</th>
                          <th class="text-center" style="min-width: 150px ;">Kalan Tutar</th>
                          <th class="text-center" style="min-width: 150px ;">BSMV Tutarı</th>
                          <th class="text-center" style="min-width: 100px ;">KKDF Tutarı</th>
                          <th class="text-center" style="min-width: 150px ;">Ödenen Tutar</th>
                          <th class="text-center" style="min-width: 150px ;">Kalan Tutar</th>
                          <th class="text-center" style="min-width: 150px ;">Açıklama</th>
                          <th class="text-center" style="min-width: 150px ;">Durum</th>
                          <th class="text-center" style="min-width: 150px ;">Kapanma Tarihi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
              
                          <td><input type="radio">01</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="tablo" style="margin-top: 0px !important;">
                  <div class="table-responsive " style="
                height: 300px;
                overflow: auto;">
                    <table class="table table-bordered ">
                      <thead style="position: sticky;top: 0">
                        <tr>
                          <th class="text-center" style="min-width: 100px ;">Tarih</th>
                          <th class="text-center" style="min-width: 50px ;">Evrak No</th>
                          <th class="text-center" style="min-width: 150px ;">Tutar  </th>
                          <th class="text-center" style="min-width: 100px ;">Tutar Döviz</th>
                          <th class="text-center">AAçıoklama</th>
                          <th class="text-center" style="min-width: 150px ;">Kullanıcı</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
              
                          <td><input type="radio">01</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="s" class="tabcontent">
            <div class="row">
              <div class="col-4">
                <div style="border: 1px solid black;" >
                  <button>Yeni Kart</button>
                  <button>Düzelt</button>
                  <button>Sil</button>
                </div>
                <div class="tablo" style="margin-top: 0px !important;">
                  <div class="table-responsive " style="
                height: 300px;
                overflow: auto;">
                    <table class="table table-bordered ">
                      <thead style="position: sticky;top: 0">
                        <tr>
                          <th class="text-center" style="min-width: 100px ;">Kart Numarası</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
              
                          <td><input type="radio">01</td>
                         
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-8">
                <div class="" style="border: 1px solid black;">
                <span>Kart Numarası : </span>
                <span>Limit Tutarı : </span>
                <span>Bakiye : </span>
                <span>Ek Kart Borç Tutarı : </span>
                <span>Asıl KArt Borç Tutarı: </span>

                </div>
                <div class="tablo" style="margin-top: 0px !important;">
                  <div class="table-responsive " style="
                height: 300px;
                overflow: auto;">
                    <table class="table table-bordered ">
                      <thead style="position: sticky;top: 0">
                        <tr>
                          <th class="text-center" style="min-width: 100px ;">Tarih</th>
                          <th class="text-center" style="min-width: 50px ;">Evrak No</th>
                          <th class="text-center" style="min-width: 150px ;">İşlem Türü </th>
                          <th class="text-center" style="min-width: 100px ;">Açıklama </th>
                          <th class="text-center">Tutar</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
              
                          <td><input type="radio">01</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="m" class="tabcontent">
            <div class="row"></div>
          </div>
          <div id="i" class="tabcontent">
            <div class="row"></div>
          </div>
          <div id="di" class="tabcontent">
            <div class="row"></div>
          </div>
          
          <script>
             tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
        document.getElementById("a").style.display = "block";
        
          function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
          </script>
    </div>
    </div>
  </div>

<script>
    function redirectToSelectedLink() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        if (selectedLink) {
            window.location.href = "/{{firma.firma_ozel_anahtar}}/gelirduzelt/" + selectedLink;
        } else {
            alert('Lütfen bir Kasa Kartı seçin.');
        }
    }
    function showConfirmationPopup() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        // Pop-up penceresini aç
        const confirmation = confirm("Silmek İstediğinden Emin misiniz?");

        // Kullanıcının seçimine göre işlem yap
        if (confirmation) {
            // Kullanıcı "Evet" dedi, yönlendirme yap
            window.location.href = "/{{firma.firma_ozel_anahtar}}/bankasil/" + selectedLink;
        } else {
            // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
        }
    }
</script>
{% endblock content %}