{% extends "homebase.html" %}
{% block content %}
<div class="container">
    <div class="row">

      <div class="col-4"><label for="firmalar">Firmalar <br>
          <select  onchange="if (this.value) window.location.href=this.value" style="box-sizing: content-box;" id="firmalar">
            <option value="/{{firma.firma_ozel_anahtar}}">{{firma.firma_unvani}} {{firma.Firma_unvani2}} ({{firma.tanitici_isim}})</option>
            {% for i in firmalarim %}
             {% if firma.id == i.id %}
             
             {% else %}
             <option value="/{{i.firma_ozel_anahtar}}/">{{i.firma_unvani}} {{i.Firma_unvani2}} ({{i.tanitici_isim}})</option>
             {% endif %}
              
            {% endfor %}
          </select> </label></div>
      <div class="col-2"></div>
      <div class="col-4">

        <label for="firmalar">Şubeler <br>
          <select style="box-sizing: content-box;" id="firmalar">
          
            {% for i in subeleri %}
                <option value="">{{i.sube_adi}} {{i.sube_unvani}}</option>
            {% endfor %}
          </select> </label>
      </div>
      <div class="col-2">

      </div>
    </div>
<div class="container ">
    <h2>İşlemler</h2>

    <ul class="nav nav-tabs ">
      <li class="active secim"><a data-toggle="tab" class="secim" href="#home">Ticari</a></li>
      <li class="active1 secim"><a data-toggle="tab" class="secim" href="#menu1">Muhasebe</a></li>

    </ul>
    <!--TİCARİ-->
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active arkaplan">
        <div class="container">
          <div class="row">
            <div class="col-4 bosluk">
              <div class="row">
                <div class="col-sm-4 col-md  col-6 col"><a href="/company/companysettings/" class="btn btn-outline-success yeni">
                    <i class='far fa-address-card' style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br> Firma Bilgisi</a>
                    <a href="siparis/" class="btn btn-outline-success yeni"><i class='fa fa-truck'
                      style='font-size:200%;color: rgb(2, 112, 163);'> </i>
                    <br>Sipariş</a>

                  <a href="kasa/" class="btn btn-outline-success yeni"><i class='fa fa-suitcase'
                      style='font-size:200%;color: rgb(2, 112, 163);'> </i>
                    <br>Kasa</a>
                </div>
                <div class="col-sm-4 col-md  col-6 col">
                <a href="fatura/" class="btn btn-outline-success yeni">
                    <i class='far fa-newspaper' style='font-size:200%;color: rgb(2, 112, 163);'> </i>
                    <br>Fatura</a>
                  <a href="stok/" class="btn btn-outline-success yeni">
                    <i class='fas fa-box' style='font-size:200%;color: rgb(2, 112, 163);'> </i>
                    <br>Stok</a>
                    <a href="banka/" class="btn btn-outline-success yeni">
                    <i class='fa fa-university' style='font-size:200%;color: rgb(2, 112, 163);'> </i>
                    <br>Banka</a>
                  
                </div>
                <div class="col-sm-4 col-md  col-6 col">
                    <a href="irsaliye/" class="btn btn-outline-success yeni"><i class='fa fa-archive'
                      style='font-size:200%;color: rgb(2, 112, 163);'> </i>
                    <br>İrsaliye</a>
                    
                    <a href="cari/" class="btn btn-outline-success yeni"><i class='fa fa-book'
                      style='font-size:200%;color: rgb(2, 112, 163);'> </i>
                    <br>Cari</a>
                  <button class="btn btn-outline-success yeni"><i class='fa fa-handshake'
                      style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br>Çek-Senet</button>
                </div>
                <div class="col-sm-4 col-md  col-6 col">


                </div>
                <div class="col-sm-4 col-md  col-6 col">
                  <button class="btn btn-outline-success yeni"><i class='far fa-newspaper'
                      style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br> <span>E-Müstahil <br> Makbuzu</span> </button>

                </div>
                <div class="col-sm-4 col-md  col-6 col"><button class="btn btn-outline-success yeni"><i
                      class='fa fa-archive' style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br>E-İrsaliye</button>

                </div>
              </div>

            </div>
            <div class="col-4 bosluk">
              <div class="row">
                <div class="col-sm-4 col-md  col-6 col"><a href="gider/" class="btn btn-outline-success yeni">
                    <i class='fas fa-angle-up' style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br> Gider</a>
                  <button class="btn btn-outline-success yeni"><i class='fab fa-amilia'
                      style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br>E-Arşiv</button>
                 
                  
                </div>
                <div class="col-sm-4 col-md  col-6 col">
                  <a href="gelir/" class="btn btn-outline-success yeni"><i class='fas fa-angle-down'
                      style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br>Gelir</a>
                  <button class="btn btn-outline-success yeni">
                    <i class='far fa-newspaper' style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br>E-Fatura<br>İşlemleri</button>
                  <button class="btn btn-outline-success yeni">
                    <i class='fas fa-exchange-alt' style='font-size:200%; color: rgb(2, 112, 163);'></i>
                    <br>Devir</button>
                  

                </div>
                <div class="col-sm-4 col-md  col-6 col"><a href="ticariraporlar/" class="btn btn-outline-success yeni"><i
                      class='fa fa-archive' style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br>Ticari<br>Raporlar</a>
                  <a href="dilekce/" class="btn btn-outline-success yeni"><i class='fa fa-book'
                      style='font-size:200%; color: rgb(2, 112, 163);'> </i>
                    <br>Dilekçeler</a>
                  
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!--MUHASEBE-->
      <div id="menu1" class="tab-pane fade">
        <div class="tab-content">
          <div id="menu1" class="tab-pane fade in active arkaplan">
            <div class="container">
              <div class="row">
                <div class="col-4 bosluk">
                  <div class="row">
                    <div class="col-sm-4 col-md  col-6 col"><a href="genelmuhasebe/" class="btn btn-outline-success yeni1">
                        <i class='far fa-address-card' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br> Genel <br> Muhasebe</a>
                      <button class="btn btn-outline-success yeni1"><i class='fab fa-bimobject'
                          style='font-size:200%; color: rgb(252, 185, 0); '></i>
                        <br>Bordo-Personel</button>
                      <a href="demirbaslar/" class="btn btn-outline-success yeni1"><i class='fa fa-suitcase'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Demirbaşlar</a>
                      <a href="ayarlar/" class="btn btn-outline-success yeni1">
                        <i class='material-icons' style='font-size:200%; color: rgb(252, 185, 0);'>&#xe8a4; </i>
                        <br> Ayarlar</a>
                      <a href="musavirstok/" class="btn btn-outline-success yeni1"><i class='fas fa-box'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Müşavir<br>Stok</a>

                    </div>
                    <div class="col-sm-4 col-md  col-6 col">
                      <button class="btn btn-outline-success yeni1">
                        <i class='far fa-newspaper' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Serbest Meslek<br>Makbuzu</button>
                      <a href="ebeyanname/" class="btn btn-outline-success yeni1">
                        <i class='fa fa-university' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>E-Beyanname <br>(Paket)</a>
                      <button class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>E-SMM</button>
                      <a href="mustericari/" class="btn btn-outline-success yeni1"><i class='fas fa-book-open'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Müşteri <br> Cari Takibi</a>

                    </div>
                    <div class="col-sm-4 col-md  col-6 col"><button class="btn btn-outline-success yeni1"><i
                          class='fa fa-archive' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>E-Defter</button>
                      <button class="btn btn-outline-success yeni1"><i class='fa fa-book'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>İşletme <br> Defteri</button>
                      
                      <a href="kdv1beyannamesi/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>KDV-1 <br> Beyannamesi</a>
                      <a href="kdv2beyannamesi/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>KDV-2 <br> Beyannamesi</a>

                    </div>
                  </div>



                  <div class="row">
                    <div class="col-sm-4 col-md  col-6 col">
                    </div>
                  </div>
                </div>
                <div class="col-4 bosluk">
                  <div class="row">
                    <div class="col-sm-4 col-md  col-6 col"><a href="muhsgk/" class="btn btn-outline-success yeni1">
                        <i class='far fa-address-card' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br> MuhSGK <br> (1003-A)</a>
                      <a href="muhsgk2/" class="btn btn-outline-success yeni1"><i class='far fa-address-card'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>MuhSGK2 <br> (1003-B)</a>
                      <a href="baformu/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Ba-Formu</a>
                    </div>
                    <div class="col-sm-4 col-md  col-6 col">
                      <a href="bsformu/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Bs-Formu</a>
                      <a href="damgavergisi/" class="btn btn-outline-success yeni1">
                        <i class='fa fa-battery-full' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Damga Vergisi <br> Beyannamesi</a>
                      <a href="turizm/" class="btn btn-outline-success yeni1">
                        <i class='fa fa-university' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Turizm Payı <br> Beyannamesi</a>
                    </div>
                    <div class="col-sm-4 col-md  col-6 col"><a href="" class="btn btn-outline-success yeni1"><i
                          class='far fa-newspaper' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Gelir Vergisi <br> Beyannamesi</a>
                      <a href="kurumlarvergibeyannamesi/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Kurumlar Vergisi <br> Beyannamesi</a>
                      <a href="gelirgecicivergibeyannamesi/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Gelir Geçici <br> Vergi <br> Beyannamesi</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4 col-md  col-6 col"><a href="kurumgecicivergi/" class="btn btn-outline-success yeni1">
                        <i class='far fa-newspaper' style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br> Kurum Geçici <br> Vergi <br> Beyannamesi</a>
                      
                    </div>
                    <div class="col-sm-4 col-md  col-6 col">
                      <a href="kurumlargerikazanimpayi/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>Geri Kazanım <br> Katılım Payı <br> Beyannamesi</a>
                      <a href="kdv4beyannamesi/" class="btn btn-outline-success yeni1"><i class='far fa-newspaper'
                          style='font-size:200%; color: rgb(252, 185, 0);'> </i>
                        <br>KDV-4 <br> Beyannamesi </a>


                    </div>
                    <div class="col-sm-4 col-md  col-6 col">
                      


                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}