{% extends "homebase.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8" style="border: 1px solid black; padding: 20px;">
            <div class="text-center" ><h2>Kasa Ödeme Makbuzu</h2>
            <hr></div>
            
            <form action="">
                <div class="row genel">
                    <div class="col-4">
                        <label for="">Tarih-saat</label>
                        <br>
                        <input type="datetime-local">
                    </div>
                    <div class="col-3">
                        <label for="">Evrak No</label>
                        <br>
                        <input type="text">
                    </div>
                    <div class="col-2">
                        <label for="">Ent. Kodu</label>
                        <br>
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="">Şube</label>
                        <br>
                        <select name="" id="">
                            <option value="">01 (Merkez)</option>
                            <option value="">02 (Merkez 2)</option>
                        </select>
                    </div>
                    <div class="col-4"><label for="">Özel Kod 1</label><br>
                        <input type="text"></div>
                    <div class="col-4"><label for="">Özel Kod 2</label><br>
                        <input type="text"></div>
                    <div class="col-4"><label for="">Departman</label><br>
                        <input type="text"></div>
                    <hr style="margin-top: 5px;">

                    <div class="col-6">
                        <label for="">Kasa Kodu ve Kasa Adı</label>
                        <br>
                        <select name="" id="">
                            <option value="">01 (kasa bir)</option>
                            <option value="">02 (kasa iki)</option>
                        </select>
                    </div>
                    
                    
                    <div class="col-6">
                        <label for="">Muh. Kodu</label>
                        <div class="row">
                            <div class="col-10"><input type="text"></div>
                            <div class="col-2"><button>Sec</button></div>
                        </div>

                    </div>
                    
                    <hr style="margin-top: 5px;">
                    
                    <div class="col-4"><label for="">Döviz Cinsi</label>
                        <br>
                    <input type="text" DISABLED value="TL"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        
                    </div>
                    <hr style="margin-top: 5px;">
                    <div class="col-12">
                        <div class="container tablo">
                            <div class="table-responsive " style="
                            height: 200px;
                            overflow: auto;">
                              <table class="table table-bordered">
                                <thead style="position: sticky;top: 0">
                                  <tr>
                                    <th class="text-center" style="max-width: 100px !important ;">Gider Kodu</th>
                                    <th class="text-center">Gider Adı</th>
                                    <th class="text-center" >Döviz Cinsi</th>
                                    <th class="text-center" style="min-width: 100px ;">Tutar (Döviz)</th>
                                    <th class="text-center">Tutar (TL)</th>
                                    <th class="text-center">Açıklma</th>
                                    <th class="text-center">Muh. Kodu</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td style="max-width: 200px !important ;"><input type="text" > <button>sec</button></td>
                                    <td style="max-width: 200px !important ;"><input type="text"></td>
                                    <td><select name="" id="">
                                        <option value="">TL</option>
                                        <option value="">USD</option>
                                        <option value="">EURO</option>
                                    </select></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"> <button>sec</button></td>
                                    
                                  </tr>
                                
                                </tbody>
                              </table>
                            </div>
                          </div>
                    </div>
                    <hr style="margin-top: 5px;">
                    <div class="col-4"><label for="">Açıklama</label></div>
                    <div class="col-8">
                        <input type="text">
                    </div>
                    <hr style="margin-top: 5px;">
                    <div class="col-4"><label for="">Tahsilatı/Ödemeyi Yapan</label></div>
                    <div class="col-8">
                        <input type="text">
                    </div>
                    <hr style="margin-top: 5px;">
                    <div class="col-4"><label for="">Tutar (TL)</label></div>
                    <div class="col-8">
                        <input type="text">
                    </div>
                    <hr style="margin-top: 5px;">
                    <div class="mt-5" ></div>
                    <div class="col-4"><button>Kaydet Çık</button></div>
                    <div class="col-4"><button>Kaydet Yenisini Oluştur</button></div>
                    <div class="col-4"><button style="color: red;">İptal ET</button></div>
                </div>

            </form>
        </div>
        <div class="col-2">
            
        </div>
    </div>
</div>
   
{% endblock content %}