{% extends "homebase.html" %}
{% block content %}
<style>
  #kur {
    display: none;
  }
  .yeniform {
    display: none;
  }
</style>
  <!--Header-->
  <div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/yenikasakarti/">Beyanname Gönder</a>
    
    <a href="/" style="color:red;">Kapat</a>

  </div>
  <div class="d-menu">
    <ul>
  
    </ul>
  </div>
  <div class="container">
    <div class="row">
        <h1 class="text-center" >E Beyanname</h1>
        <h3 class="text-center"></h3>
        <div style="border:1px solid black;" class="col-2">
          <h4 class="text-center" >KDV - 1 Beyannamesi</h4>
          <hr>
          <h5>Aylık</h5>
          <select name="kdv1aylik" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          <h5>3 Aylık</h5>
          <select name="kdv1ucaylik" id="">
            <option value="Ocak - Şubat - Mart">Ocak - Şubat - Mart</option>
            <option value="Nisan - Mayıs - Haziran">Nisan - Mayıs - Haziran</option>
            <option value="Temmuz - Ağustos - Eylül">Temmuz - Ağustos - Eylül</option>
            <option value="Ekim - Kasım - Aralık">Ekim - Kasım - Aralık</option>
          </select>
        </div>
        <div style="border:1px solid black;" class="col-2">
          <h4 class="text-center" >KDV - 2 Beyannamesi</h4>
          <hr>
          <h5>Aylık</h5>
          <select name="kdv2aylik" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          <h5>3 Aylık</h5>
          <select name="kdv2ucaylik" id="">
            <option value="Ocak - Şubat - Mart">Ocak - Şubat - Mart</option>
            <option value="Nisan - Mayıs - Haziran">Nisan - Mayıs - Haziran</option>
            <option value="Temmuz - Ağustos - Eylül">Temmuz - Ağustos - Eylül</option>
            <option value="Ekim - Kasım - Aralık">Ekim - Kasım - Aralık</option>
          </select>
        </div>
        <div style="border:1px solid black;" class="col-2">
          <h4 class="text-center" >KDV - 4 Beyannamesi</h4>
          <hr>
          <h5>Aylık</h5>
          <select name="kdv4aylik" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          
        </div>
        <div style="border:1px solid black;" class="col-2">
          <h4 class="text-center" >Muh.SGK Beyannamesi</h4>
          <hr>
          <h5>Aylık</h5>
          <select name="muhtasaraylik" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          <h5>3 Aylık</h5>
          <select name="muhtasarucaylik" id="">
            <option value="Ocak - Şubat - Mart">Ocak - Şubat - Mart</option>
            <option value="Nisan - Mayıs - Haziran">Nisan - Mayıs - Haziran</option>
            <option value="Temmuz - Ağustos - Eylül">Temmuz - Ağustos - Eylül</option>
            <option value="Ekim - Kasım - Aralık">Ekim - Kasım - Aralık</option>
          </select>
        </div>
        <div style="border:1px solid black;" class="col-2">
          <h4 class="text-center" >Geçici Vergi Beyannamesi</h4>
          <hr>
          
          <h5>Dönem</h5>
          <select name="gecicivergibeyannamesi" id="">
            <option value="Ocak - Şubat - Mart">Ocak - Şubat - Mart</option>
            <option value="Nisan - Mayıs - Haziran">Nisan - Mayıs - Haziran</option>
            <option value="Temmuz - Ağustos - Eylül">Temmuz - Ağustos - Eylül</option>
            <option value="Ekim - Kasım - Aralık">Ekim - Kasım - Aralık</option>
          </select>
        </div>
        <div style="border:1px solid black;" class="col-2">
          <h4 class="text-center" >BA - BS Formu</h4>
          <hr>
          <h5>Dönem</h5>
          <select name="babsformu" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          
        </div>
        <hr>
        <div style="border:1px solid black;" class="col-3">
          <h4 class="text-center" >Damga Vergisi</h4>
          <hr>
          <h5>Dönem</h5>
          <select name="damgavergisi" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          
        </div>
        <div style="border:1px solid black;" class="col-3">
          <h4 class="text-center" >Poşet Beyannamesi</h4>
          <hr>
          <h5>Dönem</h5>
          <select name="posetbeyannamesiaylik" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          <h5>3 Aylık</h5>
          <select name="posetbeyannamesiucaylik" id="">
            <option value="Ocak - Şubat - Mart">Ocak - Şubat - Mart</option>
            <option value="Nisan - Mayıs - Haziran">Nisan - Mayıs - Haziran</option>
            <option value="Temmuz - Ağustos - Eylül">Temmuz - Ağustos - Eylül</option>
            <option value="Ekim - Kasım - Aralık">Ekim - Kasım - Aralık</option>
          </select>
          <hr>
          <h5>6 Aylık</h5>
          <select name="posetbeyannamesialtiaylik" id="">
            <option value="Ocak ... Haziran">Ocak ... Haziran</option>
            <option value="Temmuz ... Aralık">Temmuz ... Aralık</option>
          </select>
        </div>
        <div style="border:1px solid black;" class="col-3">
          <h4 class="text-center" >Turizm Beyannamesi</h4>
          <hr>
          <h5>Aylık</h5>
          <select name="turzimaylik" id="">
            <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
          </select>
          <hr>
          <h5>3 Aylık</h5>
          <select name="turzimucaylik" id="">
            <option value="Ocak - Şubat - Mart">Ocak - Şubat - Mart</option>
            <option value="Nisan - Mayıs - Haziran">Nisan - Mayıs - Haziran</option>
            <option value="Temmuz - Ağustos - Eylül">Temmuz - Ağustos - Eylül</option>
            <option value="Ekim - Kasım - Aralık">Ekim - Kasım - Aralık</option>
          </select>
        </div>
        <div style="border:1px solid black;" class="col-3">
          <h4 class="text-center" >Basit Usul, Gelir Ve Kurumlar Vergisi Dönemi</h4>
          <hr>
          <input type="number" value="2024" name="vergidonemitarihi">
         
          
        </div>
        <hr style="border: 3px solid black !important;" >
    </div>
</div>
<div class="container">
  <div class="row">
      <h1 class="text-center" >Firmalar </h1>
      <h3 class="text-center"></h3>
      <div class="container tablo" style="margin-top: 0px !important;">
        <input class="col-12 text-center" disabled value="Beyanname Göndeilecek Listesi" type="text">
        <div class="table-responsive " style=" 
        height: 400px;
        overflow: auto;">
          <table class="table table-bordered ">
            <thead style="position: sticky;top: 0">
              <tr>
                <th class="text-center" style="min-width: 100px ;">Firma</th>
                <th class="text-center" style="min-width: 50px ;">KDV 1</th>
                <th class="text-center" style="min-width: 50px ;">KDV 2</th>
                <th class="text-center" style="min-width: 50px ;">>MUH.SGK</th>
                <th class="text-center" style="min-width: 50px ;">Geçici</th>
                <th class="text-center" style="min-width: 50px ;">BA</th>
                <th class="text-center" style="min-width: 50px ;">BS</th>
                <th class="text-center" style="min-width: 50px ;">Gelir</th>
                <th class="text-center" style="min-width: 50px ;">Kurumlar</th>
                <th class="text-center" style="min-width: 50px ;">KDV 4</th>
                <th class="text-center" style="min-width: 50px ;">Poşet</th>
                <th class="text-center" style="min-width: 50px ;">Damga</th>
                <th class="text-center" style="min-width: 50px ;">Turizm</th>
                <th class="text-center" style="min-width: 50px ;">MUH.SGK 2</th>
              </tr>
            </thead>
            <tbody>
              {% for firmaa in firmalarim %}
              <tr>
                <td>{{firmaa.firma_unvani}} {{firmaa.Firma_unvani2}} ({{firmaa.tanitici_isim}})</td>
                <td><input type="checkbox" name="kdv1" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="kdv2" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="muhtasarsgk" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="gecici" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="ba" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="bs" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="gelir" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="kurumlar" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="kdv4" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="poset" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="damga" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="turizm" value="{{firmaa.id}}"></td>
                <td><input type="checkbox" name="muhsgk2" value="{{firmaa.id}}"></td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
      <hr style="border: 3px solid black !important;" >
  </div>
</div>
{% endblock content %}