{% extends "homebase.html" %}
{% block content %}
<style>
  #kur {
    display: none;
  }
  .yeniform {
    display: none;
  }
</style>
  <!--Header-->
  <div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/yenikasakarti/">Kaydet</a>
    <a style="color: white;" onclick="showConfirmationPopup()"> Sil</a>
    <a href="/{{firma.firma_ozel_anahtar}}/muavin/" >Muavin</a>
    <a href="/{{firma.firma_ozel_anahtar}}/mizan/" >Mizan</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

  </div>
  <div class="d-menu">
    <ul>
      <li>
       <a href="" title="">Beyanname Hazırla</a>
      </li>
      <li>
        <a href="" title="">KDV Kontrol</a>

      </li>
       <li>
       <a href="" title="">XML Oluştur</a>
      </li>
      <li>
       <a href="" title="">XML Sil</a>
      </li>
      <li>
       <a href="" title="">Son Kontrol</a>
      </li>
        <li>
       <a href="" title="">Yazdır</a>
      </li>
      
    </ul>
  </div>
  <div class="container">
    <div class="row">
        <h1 class="text-center" >KATMA DEĞER VERGİSİ BEYANNAMESİ 1015B</h1>
        <h3 class="text-center">(Vergi Sorumluları İçin)</h3>
        <div class="col-6">KDV AYI : <select name="aysecimi" id="">
          <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
        </select></div>
        <div class="col-6"><label for="firmalar">FİRMALARIM
          <select  onchange="if (this.value) window.location.href=this.value" style="box-sizing: content-box;" id="firmalar">
            <option value="/{{firma.firma_ozel_anahtar}}/kdv1beyannamesi/">{{firma.firma_unvani}} {{firma.Firma_unvani2}} ({{firma.tanitici_isim}})</option>
            {% for i in firmalarim %}
             {% if firma.id == i.id %}
             
             {% else %}
             <option value="/{{i.firma_ozel_anahtar}}/kdv1beyannamesi/">{{i.firma_unvani}} {{i.Firma_unvani2}} ({{i.tanitici_isim}})</option>
             {% endif %}
              
            {% endfor %}
          </select> </label></div>
        <hr style="border: 3px solid black !important;" >
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 class="text-center" >Genel Bilgiler</h3>
        <hr>
        <div class="col-6"><p><b>Yılı : <script>document.write(new Date().getFullYear())</script></b></p>
            <p><b>Vergi Dairesi Kodu : {{subeleri.vergi_dairesi_adi.vergi_dairesi_kodu}}</b></p>
            <p><b>Dönem : <select name="donem" id="">
              <option value="Aylık">Aylık</option>
              <option value="Üç Aylık">Üç Aylık</option>
            </select></b></p>
        </div>
        <div class="col-6">
            <p><b>Vergi Kimlik Numarası (T.C Kimlik No) : {% if subeleri.sahis_ise_tc %}{{subeleri.sahis_ise_tc}}{% endif %} </b></p>
            <p><b>Vergi Kimlik Numarası  : {% if subeleri.vergi_numarasi %}{{subeleri.vergi_numarasi}}{% endif %} </b></p>
            <p><b>Soyadi (Unvan)  : {% if subeleri.bagli_oldugu_firma.Firma_unvani2 %}{{subeleri.bagli_oldugu_firma.Firma_unvani2}}{% endif %} </b></p>
            <p><b>Adı (Unvan Devamı)  : {% if subeleri.bagli_oldugu_firma.firma_unvani %}{{subeleri.bagli_oldugu_firma.firma_unvani}}{% endif %} </b></p>
            <p><b>Ticaret Sicil No  : {% if faliyet.ticaret_sicil_no %}{{faliyet.ticaret_sicil_no}}{% endif %} </b></p>
            <p><b>E-Posta Adresi  : {% if subeleri.email_adresi %}{{subeleri.email_adresi}}{% endif %} </b></p>
            <p><b>İrtibat Telefon No  : {% if subeleri.telefon_numarasi %}{{subeleri.telefon_numarasi}}{% endif %} </b></p>
        </div>
        <hr style="border: 2px solid black !important;" >
    </div>
</div>
<div class="container">
  <div class="row">
      <h3 class="text-center" >Vergi Bildirimi</h3>
      <hr>
      <div class="container tablo" style="margin-top: 0px !important;">
        <input class="col-12" disabled="" value="TAM TEVKİFAT UYGULANAN İŞLEMLERE AİT BİLDİRİM" type="text">
        <div class="table-responsive " style=" 
        height: 300px;
        overflow: auto;">
          <table class="table table-bordered ">
            <thead style="position: sticky;top: 0">
              <tr>
                <th class="text-center" style="min-width: 100px ;"></th>
                <th class="text-center" style="min-width: 50px ;">İŞLEM TÜRÜ</th>
                <th class="text-center" style="min-width: 50px ;">MATRAH</th>
                <th class="text-center" style="min-width: 150px ;">KDV ORANI (%)</th>
                <th class="text-center" style="min-width: 100px ;"></th>
                <th class="text-center">VERGİ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6</td>
                <td><select name="islemturu6" id="">
                  <option value=""></option>
                </select></td>
                <td><input step="0.01" id="matrah6" name="matrah6" value="0" type="number"></td>
                <td><input step="0.01" id="kdv6" name="kdv6" value="1" type="number"></td>
                <td>7</td>
                <td><input step="0.01" id="vergi7" name="vergi7" value="0" type="number"></td>
              </tr>
              <tr>
                <td>8</td>
                <td><select name="islemturu8" id="">
                  <option value=""></option>
                <td><input step="0.01" id="matrah8" name="matrah8" value="0" type="number"></td>
                <td><input step="0.01" id="kdv8" name="kdv8" value="10" type="number"></td>
                <td>9</td>
                <td><input step="0.01" id="vergi9" name="vergi9" value="0" type="number"></td>
              </tr>
              <tr>
                <td>10</td>
                <td><select name="islemturu10" id="">
                  <option value=""></option>
                <td><input step="0.01" id="matrah10" name="matrah10" value="0" type="number"></td>
                <td><input step="0.01" id="kdv10" name="kdv10" value="20" type="number"></td>
                <td>11</td>
                <td><input step="0.01" id="vergi11" name="vergi11" value="0" type="number"></td>
              </tr>
              <tr>
                <td>12</td>
                <td><select name="islemturu12" id="">
                  <option value=""></option>
                <td><input step="0.01" id="matrah12" name="matrah10" value="0" type="number"></td>
                <td><input step="0.01" id="kdv12" name="kdv10" value="20" type="number"></td>
                <td>13</td>
                <td><input step="0.01" id="vergi13" name="vergi11" value="0" type="number"></td>
              </tr>
              <tr>
                <td class="text-center"  colspan="5"><b>Matrah Toplamı (6+8+10+12)</b></td>
                
                <td><input step="0.01" id="matrahtoplami" name="matrahtoplami" value="0" type="number"></td>
              </tr>
              <tr>
                <td class="text-center"  colspan="5"><b>Vergi Toplamı (7+9+11+13)</b></td>
                
                <td><input step="0.01" id="vergitoplami" name="vergitoplami" value="0" type="number"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr style="border: 2px solid black !important;" >
  </div>
</div>

{% endblock content %}