{% extends "homebase.html" %}
{% block content %}
<style>
  #kur {
    display: none;
  }
  .yeniform {
    display: none;
  }
</style>
  <!--Header-->
  <div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/yenikasakarti/">Kaydet</a>
    <a style="color: white;" onclick="showConfirmationPopup()"> Sil</a>
    <a href="/{{firma.firma_ozel_anahtar}}/muavin/" >Muavin</a>
    <a href="/{{firma.firma_ozel_anahtar}}/mizan/" >Mizan</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

  </div>
  <div class="d-menu">
    <ul>
      <li>
       <a href="" title="">Beyanname Hazırla</a>
      </li>
      <li>
        <a href="" title="">KDV Kontrol</a>

      </li>
       <li>
       <a href="" title="">XML Oluştur</a>
      </li>
      <li>
       <a href="" title="">XML Sil</a>
      </li>
      <li>
       <a href="" title="">Son Kontrol</a>
      </li>
        <li>
       <a href="" title="">Yazdır</a>
      </li>
      
    </ul>
  </div>
  <div class="container">
    <div class="row">
        <h1 class="text-center" >KURUMLAR VERGİSİ BEYANNAMESİ 1010</h1>
        <h3 class="text-center"></h3>
        <div class="col-6">KDV AYI : <select name="aysecimi" id="">
          <option value="OCAK">OCAK</option>
          <option value="ŞUBAT">ŞUBAT</option>
          <option value="MART">MART</option>
          <option value="NİSAN">NİSAN</option>
          <option value="MAYIS">MAYIS</option>
          <option value="HAZİRAN">HAZİRAN</option>
          <option value="TEMMUZ">TEMMUZ</option>
          <option value="AĞUSTOS">AĞUSTOS</option>
          <option value="EYLÜL">EYLÜL</option>
          <option value="EKİM">EKİM</option>
          <option value="KASIM">KASIM</option>
          <option value="ARALIK">ARALIK</option>
        </select></div>
        <div class="col-6"><label for="firmalar">FİRMALARIM
          <select  onchange="if (this.value) window.location.href=this.value" style="box-sizing: content-box;" id="firmalar">
            <option value="/{{firma.firma_ozel_anahtar}}/kdv1beyannamesi/">{{firma.firma_unvani}} {{firma.Firma_unvani2}} ({{firma.tanitici_isim}})</option>
            {% for i in firmalarim %}
             {% if firma.id == i.id %}
             
             {% else %}
             <option value="/{{i.firma_ozel_anahtar}}/kdv1beyannamesi/">{{i.firma_unvani}} {{i.Firma_unvani2}} ({{i.tanitici_isim}})</option>
             {% endif %}
              
            {% endfor %}
          </select> </label></div>
        <hr style="border: 3px solid black !important;" >
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 class="text-center" >Genel Bilgiler</h3>
        <hr>
        <div class="col-6"><p><b>Yılı : <script>document.write(new Date().getFullYear())</script></b></p>
            <p><b>Vergi Dairesi Kodu : {{subeleri.vergi_dairesi_adi.vergi_dairesi_kodu}}</b></p>
            <hr>
            <h3 class="text-center" >Dar Mükellef Temsilcisinin</h3>
        <p><b>Vergi Kimlik Numarası (T.C Kimlik No) : {% if dar_mukellef.kurumlarvergiveyatckimlikno %}{{dar_mukellef.kurumlarvergiveyatckimlikno}}{% endif %} </b></p>
        <p><b>Vergi Kimlik Numarası  : {% if dar_mukellef.kurumlarvergikimlikno %}{{dar_mukellef.kurumlarvergikimlikno}}{% endif %} </b></p>
        <p><b>Soyadi (Unvan)  : {% if dar_mukellef.sube_bilgisi.bagli_oldugu_firma.Firma_unvani2 %}{{dar_mukellef.sube_bilgisi.bagli_oldugu_firma.Firma_unvani2}}{% endif %} </b></p>
        <p><b>Adı (Unvan Devamı)  : {% if dar_mukellef.sube_bilgisi.bagli_oldugu_firma.firma_unvani %}{{dar_mukellef.sube_bilgisi.bagli_oldugu_firma.firma_unvani}}{% endif %} </b></p>
        <p><b>Ticaret Sicil No  : {% if faliyet.kurumlarticaretsicilno %}{{faliyet.kurumlarticaretsicilno}}{% endif %} </b></p>
        <p><b>E-Posta Adresi  : {% if dar_mukellef.Kurumlarepostaadresi %}{{dar_mukellef.Kurumlarepostaadresi}}{% endif %} </b></p>
        <p><b>İrtibat Telefon No  : {% if dar_mukellef.kurumlarirtibatnumarasi %}{{dar_mukellef.kurumlarirtibatnumarasi}}{% endif %} </b></p>
          </div>
        <div class="col-6">
            <p><b>Vergi Kimlik Numarası (T.C Kimlik No) : {% if subeleri.sahis_ise_tc %}{{subeleri.sahis_ise_tc}}{% endif %} </b></p>
            <p><b>Vergi Kimlik Numarası  : {% if subeleri.vergi_numarasi %}{{subeleri.vergi_numarasi}}{% endif %} </b></p>
            <p><b>Soyadi (Unvan)  : {% if subeleri.bagli_oldugu_firma.Firma_unvani2 %}{{subeleri.bagli_oldugu_firma.Firma_unvani2}}{% endif %} </b></p>
            <p><b>Adı (Unvan Devamı)  : {% if subeleri.bagli_oldugu_firma.firma_unvani %}{{subeleri.bagli_oldugu_firma.firma_unvani}}{% endif %} </b></p>
            <p><b>Ticaret Sicil No  : {% if faliyet.ticaret_sicil_no %}{{faliyet.ticaret_sicil_no}}{% endif %} </b></p>
            <p><b>E-Posta Adresi  : {% if subeleri.email_adresi %}{{subeleri.email_adresi}}{% endif %} </b></p>
            <p><b>İrtibat Telefon No  : {% if subeleri.telefon_numarasi %}{{subeleri.telefon_numarasi}}{% endif %} </b></p>
        </div>
        
        <hr style="border: 2px solid black !important;" >
    </div>
</div>
<div class="container">
  <div class="row">
      <h3 class="text-center" >Kuruma Bağlı İşleyiş Ve Geçmiş Yıl Zararları</h3>
      <hr>
      <div class="col-6">
        <div class="row">
          <div class="col-12"><h4 class="text-center">Kuruma Bağlı İşyerlerinin Türü ve Sayısı</h4></div>
        <div class="col-8"><b>Türü</b> </div>
        <div class="col-4"><b>Sayısı</b> </div>
        <div class="col-8">Şube</div>
        <div class="col-4"><input type="text" value="{% if dar_mukellef.kurumlarsube %}{{dar_mukellef.kurumlarsube}}{% endif %}" name="sube"></div>
        <div class="col-8">Çıkış Yeri</div>
        <div class="col-4"><input type="text" value="{% if dar_mukellef.cikisyeri %}{{dar_mukellef.cikisyeri}}{% endif %}" name="cikisyeri"></div>
        <div class="col-8">Ajanlık</div>
        <div class="col-4"><input type="text" value="{% if dar_mukellef.kurumlarajanlik %}{{dar_mukellef.kurumlarajanlik}}{% endif %}" name="ajanlik"></div>
        <div class="col-8">İmalat Yeri</div>
        <div class="col-4"><input type="text" value="{% if dar_mukellef.kurmlarimalatyeri %}{{dar_mukellef.kurmlarimalatyeri}}{% endif %}" name="imalatyeri"></div>
        <div class="col-8">Satış Yeri</div>
        <div class="col-4"><input type="text" value="{% if dar_mukellef.kurumlarsatisyeri %}{{dar_mukellef.kurumlarsatisyeri}}{% endif %}" name="satisyeri"></div>
        <div class="col-8">Sair</div>
        <div class="col-4"><input type="text" value="{% if dar_mukellef.kurumlarsair %}{{dar_mukellef.kurumlarsair}}{% endif %}" name="sair"></div>
        <div class="col-8">Toplam</div>
        <div class="col-4"><input type="text" value="" name="toplam"></div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <h3 class="text-center" >Geçmiş Yıl Zararları</h3>
          <div class="col-4">Yıl</div>
          <div class="col-4">Tip</div>
          <div class="col-4">Zarar</div>
          <div class="col-4">2016</div>
          <div class="col-4">Istisnadan Kaynaklanan Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="istisnazarari2016" step="0.01"></div>
          <hr>
          <div class="col-4">2016</div>
          <div class="col-4">Diğer Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="digerzararlar2016" step="0.01"></div>
          <hr>
          <div class="col-4">2017</div>
          <div class="col-4">Istisnadan Kaynaklanan Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="istisnazarari2017" step="0.01"></div>
          <hr>
          <div class="col-4">2017</div>
          <div class="col-4">Diğer Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="digerzararlar2017" step="0.01"></div>
          <hr>
          <div class="col-4">2018</div>
          <div class="col-4">Istisnadan Kaynaklanan Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="istisnazarari2018" step="0.01"></div>
          <hr>
          <div class="col-4">2018</div>
          <div class="col-4">Diğer Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="digerzararlar2018" step="0.01"></div>
          <hr>
          <div class="col-4">2019</div>
          <div class="col-4">Istisnadan Kaynaklanan Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="istisnazarari2019" step="0.01"></div>
          <hr>
          <div class="col-4">2019</div>
          <div class="col-4">Diğer Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="digerzararlar2019" step="0.01"></div>
          <hr>
          <div class="col-4">2020</div>
          <div class="col-4">Istisnadan Kaynaklanan Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="istisnazarari2020" step="0.01"></div>
          <hr>
          <div class="col-4">2020</div>
          <div class="col-4">Diğer Zararlar</div>
          <div class="col-4"><input type="number" value="0" name="digerzararlar2020" step="0.01"></div>
          <hr>
          <div class="col-4"></div>
          <div class="col-4">Toplam</div>
          <div class="col-4"><input type="number" value="0" name="zararlartoplam" step="0.01"></div>
        </div>
      </div>
      <hr style="border: 2px solid black !important;" >
  </div>
</div>

{% endblock content %}