{% extends "homebase.html" %}
{% block content %}
  <div class="icon-bar">

    <a href="/{{firma.firma_ozel_anahtar}}/yenicari/">Yeni Cari Kartı </a>
    <a href="">Kart İncele-Düzelt</a>
    <a href="">Kart Kopyala</a>
    <a style="color: white;" onclick="showConfirmationPopup()">Kart Sil</a>
    <a href="" style="color:red;">Çıkış Yap (ESC)</a>

  </div>
  <div class="d-menu">
    <ul>
      <li>
        <ul>
          </ul><a href="" title="">Dekont İşlemleri</a>
      </li>
      <li>
        <ul>
        </ul><a href="" title="">Banka İşlemleri</a>

      </li>
      <li>
        <ul>
          </ul><a href="" title="">Fatura İşlemleri</a>
      </li>
      <li>
        <ul>
          </ul><a href="" title="">Çek/Senet İşlemleri </a>
      </li>
      <li>
        <ul>
          </ul><a href="" title=""style="color:red;">Hareketleri </a>
      </li>
      <li>
        <ul>
          </ul><a href="" title=""style="color:red;">Ödeme Planları </a>
      </li>
      <li>
        <a href="" title="">Evrak Bul</a>
      </li>
      <li>
        <a href="" title="">Fiş İncele</a>
      </li>
      <li>
        <a href="" title="">Fiş Düzelt</a>
      </li>
      <li>
        <a href="" title="">Fiş Sil</a>
      </li>
    </ul>
  </div>

  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
  height: 300px;
  overflow: auto;">
      <table class="table table-bordered ">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center" style="min-width: 100px ;">Cari Kodu</th>
            <th class="text-center" style="min-width: 150px ;">Cari Adı</th>
            <th class="text-center" >Detay</th>
            <th class="text-center" style="min-width: 100px ;">Cari Tipi</th>
            <th class="text-center" style="min-width: 150px ;">Borç Toplamı</th>
            <th class="text-center" style="min-width: 150px ;">Alacak Toplam</th>
            <th class="text-center" >Bakiye</th>
            <th class="text-center">B/A</th>
            <th class="text-center" >Semt</th>
            <th class="text-center" >Şehir</th>
            <th class="text-center">Adres(1)</th>
            <th class="text-center" style="min-width: 200px ;">Takip Dvz. Cinsi</th>
            <th class="text-center" style="min-width: 150px ;">Kayıt Tarihi</th>


          </tr>
        </thead>
        <tbody>
        {% for i in carikartlari %}
            <tr>
            <td><label for="kasakartisecim{{i.id}}"><input class="kasalar" name="kasakartlari" id="kasakartisecim{{i.id}}" value="{{i.id}}/" type="radio">{{i.cari_kodu}}</label></td>
            <td>{{i.cari_adi}}</td>
            <td>{{i.detay}}</td>
            <td>{{i.cari_kart_tipi}}</td>
            <td>{{i.borc_tutari}} {{i.takip_doviz_cinsi}}</td>
            <td>{{i.alacak_tutari}} {{i.takip_doviz_cinsi}}</td>
            <td>{{i.bakiye_tutari}} {{i.takip_doviz_cinsi}}</td>
            <td>{% if i.borc_tutari > i.alacak_tutari %}
                  B
                {% elif i.borc_tutari > i.alacak_tutari %}
                  A
                {% else %}
                  -
                {% endif %}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{i.takip_doviz_cinsi}}</td>
            <td>{{i.kayit_tarihi}}</td>
           


          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <div class="container mt-3 tablo">
    <div class="table-responsive " style="
    height: 300px;
    overflow: auto;">
      <table class="table table-bordered">
        <thead style="position: sticky;top: 0">
          <tr>
            <th class="text-center">Tarih</th>
            <th class="text-center" style="min-width: 100px ;">İşlem Türü</th>
            <th class="text-center" style="min-width: 100px ;">Evrak No</th>
            <th class="text-center" style="min-width: 100px ;">E.Kod</th>
            <th class="text-center">Açıklama</th>
            <th class="text-center">Tutar(Dvz)</th>
            <th class="text-center"style="min-width: 150px ;">Borç Tutarı</th>
            <th class="text-center" style="min-width: 150px ;">Alacak Tutarı</th>
            <th class="text-center" >Bakiye</th>
            <th class="text-center" >B/A</th>
            <th class="text-center">M?</th>
            <th class="text-center" style="min-width: 100px ;">Uyg. Kur</th>
            <th class="text-center" style="min-width: 130px ;">Özel Kod(1)</th>
            <th class="text-center" style="min-width: 130px ;">Özel Kod(2)</th>
            <th class="text-center">Ent?</th>
            <th class="text-center" >Kullanıcı</th>
            <th class="text-center" style="min-width: 150px ;">Vade Tarihi</th>
            <th class="text-center" >Satıcı</th>
            <th class="text-center" style="min-width: 100px ;">Kasa Adı</th>
            <th class="text-center" style="min-width: 100px ;">Banka Adı</th>
            <th class="text-center" style="min-width: 100px ;">Cari Kodu</th>
            <th class="text-center" >Ünvanı</th>
         </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>01</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<script>
    function redirectToSelectedLink() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        if (selectedLink) {
            window.location.href = "/{{firma.firma_ozel_anahtar}}/gelirduzelt/" + selectedLink;
        } else {
            alert('Lütfen bir Kasa Kartı seçin.');
        }
    }
    function showConfirmationPopup() {
        const radioButtons = document.getElementsByName('kasakartlari');
        let selectedLink = null;

        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                selectedLink = radioButton.value;
                break;
            }
        }

        // Pop-up penceresini aç
        const confirmation = confirm("Silmek İstediğinden Emin misiniz?");

        // Kullanıcının seçimine göre işlem yap
        if (confirmation) {
            // Kullanıcı "Evet" dedi, yönlendirme yap
            window.location.href = "/{{firma.firma_ozel_anahtar}}/gelirsil/" + selectedLink;
        } else {
            // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
        }
    }
</script>
 <script>
    function redirectToSelectedLink() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

  if (selectedLink) {
    window.location.href = "/{{firma.firma_ozel_anahtar}}/giderduzelt/"+selectedLink;
  } else {
    alert('Lütfen bir Kasa Kartı seçin.');
  }
}
function showConfirmationPopup() {
  const radioButtons = document.getElementsByName('kasakartlari');
  let selectedLink = null;

  for (const radioButton of radioButtons) {
    if (radioButton.checked) {
      selectedLink = radioButton.value;
      break;
    }
  }

    // Pop-up penceresini aç
    const confirmation = confirm("Silmek İstediğinden Emin misiniz?");
    
    // Kullanıcının seçimine göre işlem yap
    if (confirmation) {
        // Kullanıcı "Evet" dedi, yönlendirme yap
        window.location.href = "/{{firma.firma_ozel_anahtar}}/carisil/"+selectedLink;
    } else {
        // Kullanıcı "Hayır" dedi, isteğe bağlı olarak başka bir işlem yapabilirsiniz
    }
}
  </script>
{% endblock content %}